flows/ASI_TnE_Share_Cash_Adv_Pre_Approval_records_with_SysApprovers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ASI_TnE_Is_SysApprover2_Null</name>
        <label>Is SysApprover2 Null</label>
        <locationX>120</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SysApprover2 Not Null</defaultConnectorLabel>
        <rules>
            <name>ASI_TnE_SysApprover2_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_SysApprover2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>SysApprover2 Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASI_TnE_Is_SysApprover3_Null</name>
        <label>Is SysApprover Null</label>
        <locationX>413</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SysApprover3 Not Null</defaultConnectorLabel>
        <rules>
            <name>ASI_TnE_SysApprover3_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_SysApprover3Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>SysApprover3 Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASI_TnE_Is_SysApprover4_Null</name>
        <label>Is SysApprover4 Null</label>
        <locationX>120</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SysApprover4 Not Null</defaultConnectorLabel>
        <rules>
            <name>ASI_TnE_SysApprover4_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_SysApprover4Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>SysApprover4 Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASI_TnE_Is_SysApprover5_Null</name>
        <label>Is SysApprover5 Null</label>
        <locationX>412</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SysApprover5 Not Null</defaultConnectorLabel>
        <rules>
            <name>ASI_TnE_SysApprover5_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_SysApprover5Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>SysApprover5 Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASI_TnE_Is_SysApprover6_Null</name>
        <label>Is SysApprover6 Null</label>
        <locationX>119</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SysApprover6 Not Null</defaultConnectorLabel>
        <rules>
            <name>ASI_TnE_SysApprover6_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_SysApprover6Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>SysApprover Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASI_TnE_Is_SysApprover7_Null</name>
        <label>Is SysApprover7 Null</label>
        <locationX>408</locationX>
        <locationY>936</locationY>
        <defaultConnector>
            <targetReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SysApprover7 Not Null</defaultConnectorLabel>
        <rules>
            <name>ASI_TnE_SysApprover7_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_SysApprover7Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>SysApprover Null</label>
        </rules>
    </decisions>
    <interviewLabel>Share Cash Adv Pre-Approval records with SysApprovers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Cash Adv Pre-Approval records with SysApprovers</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_RequestedEmployee</name>
        <label>Share Cash Adv Pre-Approval record with RequestedEmployee</label>
        <locationX>119</locationX>
        <locationY>7</locationY>
        <connector>
            <targetReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_RequestedEmployeeId</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover1</name>
        <label>Share Cash Adv Pre-Approval record with SysApprover1</label>
        <locationX>119</locationX>
        <locationY>139</locationY>
        <connector>
            <targetReference>ASI_TnE_Is_SysApprover2_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_SysApprover1Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover2</name>
        <label>Share Cash Adv Pre-Approval record with SysApprover2</label>
        <locationX>413</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>ASI_TnE_Is_SysApprover3_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_SysApprover2Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover3</name>
        <label>Share Cash Adv Pre-Approval record with SysApprover3</label>
        <locationX>120</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>ASI_TnE_Is_SysApprover4_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_SysApprover3Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover4</name>
        <label>Share Cash Adv Pre-Approval record with SysApprover4</label>
        <locationX>414</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>ASI_TnE_Is_SysApprover5_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_SysApprover4Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover5</name>
        <label>Share Cash Adv Pre-Approval record with SysApprover5</label>
        <locationX>119</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>ASI_TnE_Is_SysApprover6_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_SysApprover5Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover6</name>
        <label>Share Cash Adv Pre-Approval record with SysApprover6</label>
        <locationX>409</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>ASI_TnE_Is_SysApprover7_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_SysApprover6Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <recordCreates>
        <name>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_SysApprover7</name>
        <label>Share Cash Adv Pre-Approval record with SysApprover7</label>
        <locationX>118</locationX>
        <locationY>940</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarT_CashAdvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ASI_TnE_CashAdv_Change_Manager_Access__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarT_SysApprover7Id</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_Cash_Advance_Pre_Approval__Share</object>
    </recordCreates>
    <startElementReference>ASI_TnE_Share_Cash_Adv_Pre_Approval_record_with_RequestedEmployee</startElementReference>
    <status>Active</status>
    <variables>
        <name>VarT_CashAdvId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_RequestedEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_SysApprover1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_SysApprover2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_SysApprover3Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_SysApprover4Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_SysApprover5Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_SysApprover6Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_SysApprover7Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
