flows/ASI_SG_PR_Group_Outlet_Type_Selection.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Blank_Outlet_Type</name>
        <label>Assign Blank Outlet Type</label>
        <locationX>1029</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>OutletTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HEB_Group_Outlet_Type_Assignment</name>
        <label>HEB - Group Outlet Type Assignment</label>
        <locationX>1004</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aBYM00000008OIF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High_Energy_Bar_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hotel_Group_Outlet_Type_Assignment</name>
        <label>Hotel - Group Outlet Type Assignment</label>
        <locationX>44</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hotel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hotel_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LEB_Group_Outlet_Type_Assignment</name>
        <label>LEB - Group Outlet Type Assignment</label>
        <locationX>836</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aBYM00000008OI5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Low_Energy_Bar_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NightClub_Group_Outlet_Assignment</name>
        <label>Night Club - Group Outlet Type Assignment</label>
        <locationX>565</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aBYM00000008OIK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nightclub</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nightclub_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Offtrade_Group_Outlet_Type_Assignment</name>
        <label>Offtrade - Group Outlet Type Assignment</label>
        <locationX>166</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aBYM00000008ORb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offtrade</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offtrade_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restaurant_Group_Outlet_Type_Assignment</name>
        <label>Restaurant - Group Outlet Type Assignment</label>
        <locationX>362</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aBYM00000008OIA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restaurant_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TOT_Group_Outlet_Assignment</name>
        <label>TOT - Group Outlet Type Assignment</label>
        <locationX>981</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aBYM00000008OIP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Traditional On-Trade (TOT)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TOT_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PicklistNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Hotel</name>
        <label>Decision_Hotel</label>
        <locationX>59</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Hotel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_Hotel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hotel_Group_Outlet_Type_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Hotel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_Hotel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Offtrade</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Offtrade</name>
        <label>Decision Offtrade</label>
        <locationX>168</locationX>
        <locationY>553</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Offtrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_Offtrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offtrade_Group_Outlet_Type_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Offtrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_Offtrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outlet_Choice_Decision</name>
        <label>Outlet Choice Decision</label>
        <locationX>740</locationX>
        <locationY>914</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Outlet_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutletTypeChoices</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Outlet_Type</targetReference>
            </connector>
            <label>Outlet Update</label>
        </rules>
        <rules>
            <name>Outlet_No_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutletTypeChoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blank_Outlet_Type</targetReference>
            </connector>
            <label>Outlet No Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question1_Decision</name>
        <label>Question1 Decision</label>
        <locationX>370</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Question1_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Type_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question1_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question3_Decision</name>
        <label>Question 3 Decision</label>
        <locationX>575</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question3_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NightClub_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question3_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_4</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question4_Decision</name>
        <label>Question 4 Decision</label>
        <locationX>895</locationX>
        <locationY>407</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Question4_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HEB_Group_Outlet_Type_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question4_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LEB_Group_Outlet_Type_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queston2_Decision</name>
        <label>Queston 2 Decision</label>
        <locationX>659</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question2_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question3</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Question2_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TOT_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OutletTypeChoices</name>
        <dataType>String</dataType>
        <displayField>ASI_CRM_SG_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>OutletTypeNameText</assignToReference>
            <field>ASI_CRM_SG_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutletTypeName</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>ASI_CRM_SG_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>ASI SG PR Group Outlet Type Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASI SG PR Group Outlet Type Selection</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>ASI_CRM_SGRecordTypeLookup</name>
        <label>SGRecordTypeLookup</label>
        <locationX>56</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Hotel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASI_CRM_SG_Group_Outlet_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ASI_CRM_SG_GroupOutletType_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>High_Energy_Bar_Group_Outlet_Type</name>
        <label>High Energy Bar - Group Outlet Type</label>
        <locationX>1005</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>High Energy Bar</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_SG_GroupOutletType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Hotel_Group_Outlet_Type</name>
        <label>Hotel - Group Outlet Type</label>
        <locationX>445</locationX>
        <locationY>834</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hotel</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_SG_GroupOutletType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Low_Energy_Bar_Group_Outlet_Type</name>
        <label>Low Energy Bar - Group Outlet Type</label>
        <locationX>818</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Low Energy Bar</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_SG_GroupOutletType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Nightclub_Group_Outlet_Type</name>
        <label>Nightclub - Group Outlet Type</label>
        <locationX>574</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Nightclub</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_SG_GroupOutletType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Offtrade_Group_Outlet_Type</name>
        <label>Offtrade - Group Outlet Type</label>
        <locationX>175</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Offtrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_SG_GroupOutletType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProSegmentationLookup</name>
        <label>ProSegmentationLookup</label>
        <locationX>54</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASI_CRM_SGRecordTypeLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Pros_Segmentation__c</object>
        <outputAssignments>
            <assignToReference>ProsCustomer</assignToReference>
            <field>ASI_CRM_SG_Customer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Restaurant_Group_Outlet_Type</name>
        <label>Restaurant - Group Outlet Type</label>
        <locationX>359</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_SG_GroupOutletType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>TOT_Group_Outlet_Type</name>
        <label>TOT - Group Outlet Type</label>
        <locationX>1239</locationX>
        <locationY>702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Traditional On-Trade (TOT)</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_SG_GroupOutletType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outlet_Type</name>
        <label>Update Outlet Type</label>
        <locationX>744</locationX>
        <locationY>1023</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASI_CRM_SG_Group_Outlet_Type__c</field>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_Outlet_Type__c</field>
            <value>
                <elementReference>OutletTypeName</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>745</locationX>
        <locationY>1131</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishStatement</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Done with group outlet and outlet type selection.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GroupOutletResult</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have assigned the following:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Group Outlet Type:  &lt;B&gt;{!GroupOutletNameText}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Outlet Type:&lt;B&gt; {!OutletTypeNameText}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_Type_Screen</name>
        <label>Outlet Type Screen</label>
        <locationX>736</locationX>
        <locationY>784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Outlet_Choice_Decision</targetReference>
        </connector>
        <fields>
            <name>Outlet_Type_Label</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select outlet type for {!GroupOutletNameText} &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Singapore&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outlet_Type_2</name>
            <choiceReferences>OutletTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outlet Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_4</name>
        <label>Are there people standing up &amp; is the music loud to speak softly?</label>
        <locationX>745</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question4_Decision</targetReference>
        </connector>
        <fields>
            <name>Question4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Are there people standing up &amp;amp; is the music loud to speak softly ?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice4</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Hotel</name>
        <label>Hotel</label>
        <locationX>59</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Hotel</targetReference>
        </connector>
        <fields>
            <name>Question_Hotel</name>
            <fieldText>Is the outlet a hotel?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answer_Hotel</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Offtrade</name>
        <label>Offtrade</label>
        <locationX>132</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Offtrade</targetReference>
        </connector>
        <fields>
            <name>Question_Offtrade</name>
            <fieldText>Is this an Offtrade outlet?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answer_Offtrade</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question1</name>
        <label>Source of Business</label>
        <locationX>282</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question1_Decision</targetReference>
        </connector>
        <fields>
            <name>Questio1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Main reason lunch/dinner?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice1</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question2</name>
        <label>Presence of hostess + private room?</label>
        <locationX>474</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Queston2_Decision</targetReference>
        </connector>
        <fields>
            <name>Question2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Presence of hostess + private room?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice2</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question3</name>
        <label>Only open at 10 pm and majority of people dancing?</label>
        <locationX>575</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question3_Decision</targetReference>
        </connector>
        <fields>
            <name>Question3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Only open at 10 pm and majority of people dancing?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice3</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProSegmentationLookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>ASI_CRM_SG_GroupOutletType_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Group Outlet Type Name</description>
        <name>GroupOutletName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupOutletNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected Outlet Type</description>
        <name>OutletTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutletTypeNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProsCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProsSegmentationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
