flows/ASI_CRM_JP_Item_Base_Price_Update_Item_Group.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ASI_CRM_JP_Assign_Max_1_to_Item_Group</name>
        <label>Assign Max 1 to Item Group</label>
        <locationX>957</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>Get_Item_Group.ASI_CRM_Lowest_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get.ASI_CRM_MAX_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASI_CRM_JP_If_Max_2_Filled_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASI_CRM_JP_Assign_Max_2_to_Item_Group</name>
        <label>Assign Max 2 to Item Group</label>
        <locationX>806</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>Get_Item_Group.ASI_CRM_Lowest_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get.ASI_CRM_MAX_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASI_CRM_JP_Update_Item_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ASI_CRM_JP_If_Max_2_Filled_In</name>
        <label>If Max 2 Filled In</label>
        <locationX>765</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>ASI_CRM_JP_Update_Item_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Yes_Max2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.ASI_CRM_MAX_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ASI_CRM_JP_Assign_Max_2_to_Item_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Max1_Filled_In</name>
        <label>If Max1 Filled In</label>
        <locationX>712</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>ASI_CRM_JP_If_Max_2_Filled_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Yes_Max1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.ASI_CRM_MAX_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ASI_CRM_JP_Assign_Max_1_to_Item_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>ASI CRM JP Item Base Price Update Item Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASI CRM JP Item Base Price Update Item Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get</label>
        <locationX>275</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Item_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curItemBasePriceID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASI_CRM_JP_Customer_Product_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Item_Group</name>
        <label>Get Item Group</label>
        <locationX>496</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Max1_Filled_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.ASI_MFM_Item_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASI_MFM_Item_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ASI_CRM_JP_Update_Item_Group</name>
        <label>Update Item Group</label>
        <locationX>1380</locationX>
        <locationY>428</locationY>
        <inputReference>Get_Item_Group</inputReference>
    </recordUpdates>
    <start>
        <locationX>89</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curItemBasePriceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
