flows/ASI_CRM_MY_Channel_Selection.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment_B_Channel</name>
        <label>Assignment B Channel</label>
        <locationX>719</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>channel_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>restaurant_food_style</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASI_CRM_Record_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_C_Channel</name>
        <label>Assignment C Channel</label>
        <locationX>502</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>channel_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>channel_code_ktv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASI_CRM_Record_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_D_Channel_High</name>
        <label>Assignment D Channel High</label>
        <locationX>508</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>channel_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>channel_code_high_energy_bar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASI_CRM_Record_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_D_Channel_Low</name>
        <label>Assignment D Channel Low</label>
        <locationX>728</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>channel_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>channel_code_low_energy_bar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASI_CRM_Record_Channel</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_asian</name>
        <choiceText>Asian</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>channel_code_asian_restaurant</elementReference>
        </value>
    </choices>
    <choices>
        <name>choice_central</name>
        <choiceText>Central</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>region_central</elementReference>
        </value>
    </choices>
    <choices>
        <name>choice_MHD</name>
        <choiceText>MHD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MHD</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Neutral</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_north</name>
        <choiceText>North</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>region_north</elementReference>
        </value>
    </choices>
    <choices>
        <name>choice_Other_Brands</name>
        <choiceText>Other Brands</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Brands</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PRM</name>
        <choiceText>PRM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRM</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_south</name>
        <choiceText>South</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>region_south</elementReference>
        </value>
    </choices>
    <choices>
        <name>choice_western</name>
        <choiceText>Western</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>channel_code_western_restaurant</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Change_Decision</name>
        <label>Change Decision</label>
        <locationX>1279</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>ASI_CRM_Record_Update_Pros_Segmentation_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Change</defaultConnectorLabel>
        <rules>
            <name>Channel_not_change_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pros_Old_Sub_Channel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>question_e_radio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pros_Old_Region</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>question_f_radio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pros_Old_Contracted_brand</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>question_g_radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pros_Image_Decision</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_C</name>
        <label>Decision C</label>
        <locationX>264</locationX>
        <locationY>531</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question_c_radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_C_Channel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question_c_radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_D</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_D</name>
        <label>Decision D</label>
        <locationX>267</locationX>
        <locationY>776</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question_d_radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_D_Channel_High</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question_d_radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_D_Channel_Low</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Major_Revenue</name>
        <label>Decision Major Revenue</label>
        <locationX>262</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Major_Revenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldAnswerA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sceen_question_b</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Major_Revenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldAnswerA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_C</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Pros_Image_Decision</name>
        <label>Delete Pros Image Decision</label>
        <locationX>1088</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Delete_PROS_Image</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change</defaultConnectorLabel>
        <rules>
            <name>Channel_not_change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pros_Image_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASI_CRM_Record_Update_Pros_Segmentation_0_0</targetReference>
            </connector>
            <label>Not Change</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dynamic_record_sub_channel</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_CN_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobject_channel.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_MY_SubChannelType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_MFM_Sub_Channel__c</object>
        <outputAssignments>
            <assignToReference>Outlet_Type</assignToReference>
            <field>ASI_CRM_MY_Outlet_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sub_Channel_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>ASI_CRM_MY_Channel_Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASI CRM MY Channel Selection</label>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_PROS_Image</name>
        <label>Delete PROS Image</label>
        <locationX>930</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>ASI_CRM_Record_Update_Pros_Segmentation_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Pros_Segmentation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Pros_Image_Level__c</object>
    </recordDeletes>
    <recordLookups>
        <name>ASI_CRM_MYRecordTypeChannelLookup</name>
        <label>MYRecordTypeChannelLookup</label>
        <locationX>258</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASI_CRM_MYRecordTypeLookup_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASI_CRM_MY_Segmentation_Channel</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ASI_CRM_MY_ChannelType_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ASI_CRM_MYRecordTypeLookup</name>
        <label>MYRecordTypeLookup</label>
        <locationX>36</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASI_CRM_MYRecordTypeChannelLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASI_CRM_MY_Segmentation_Channel</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ASI_CRM_MY_GroupOutletType_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ASI_CRM_MYRecordTypeLookup_0_0</name>
        <label>MYRecordTypeLookup</label>
        <locationX>191</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Question_A</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASI_CRM_MY_Segmentation_Sub_Channel</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ASI_CRM_MY_SubChannelType_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ASI_CRM_Record_Channel</name>
        <label>ASI CRM Record Channel</label>
        <locationX>792</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_E</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_CN_Channel_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>channel_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>ASI_CRM_CN_On_Off__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_MY_ChannelType_RecordType</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_CN_Channel__c</object>
        <outputAssignments>
            <assignToReference>sobject_channel.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Channel_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ASI_CRM_Record_Group_Outlet</name>
        <label>ASI CRM Record Group Outlet</label>
        <locationX>1051</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASI_CRM_Record_Pros_Image</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_MY_Channel_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>channel_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>ASI_CRM_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question_f_radio</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>sobject_group_outlet.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ASI_CRM_Record_Pros_Image</name>
        <label>ASI CRM Record Pros Image</label>
        <locationX>1063</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_CRM_SG_Pros_Segmentation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Pros_Image_Level__c</object>
        <outputAssignments>
            <assignToReference>Pros_Image_Object.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProSegmentationLookup</name>
        <label>ProSegmentationLookup</label>
        <locationX>96</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASI_CRM_MYRecordTypeLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>ASI_CRM_Pros_Segmentation__c</object>
        <outputAssignments>
            <assignToReference>ProsCustomer</assignToReference>
            <field>ASI_CRM_SG_Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ASI_CRM_MY_Image_Level</assignToReference>
            <field>ASI_CRM_SG_Image_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pros_Old_Contracted_brand</assignToReference>
            <field>Contracted_Brand__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pros_Old_Region</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pros_Old_Sub_Channel</assignToReference>
            <field>Sub_Channel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ASI_CRM_Record_Update_Pros_Segmentation_0_0</name>
        <label>ASI CRM Record Update Pros Segmentation</label>
        <locationX>1103</locationX>
        <locationY>940</locationY>
        <connector>
            <targetReference>display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASI_CRM_Gross_Sales__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_Investment_Guidelines_Thresholds__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_Market_Share__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_OP__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_DAMD_Threshold__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_Group_Outlet_Type__c</field>
            <value>
                <elementReference>sobject_group_outlet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_Image_Level_Threshold__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_Image_Level__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_Outlet_Type__c</field>
            <value>
                <elementReference>Outlet_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_Volume_Potential_Threshold__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_Visit_Frequency_Thresholds__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>sobject_channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracted_Brand__c</field>
            <value>
                <elementReference>question_g_radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>question_f_radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Channel__c</field>
            <value>
                <elementReference>question_e_radio</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ASI_CRM_Record_Update_Pros_Segmentation_0_1</name>
        <label>ASI CRM Record Update Pros Segmentation</label>
        <locationX>1259</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASI_CRM_SG_Group_Outlet_Type__c</field>
            <value>
                <elementReference>sobject_group_outlet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_SG_Outlet_Type__c</field>
            <value>
                <elementReference>Outlet_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>sobject_channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracted_Brand__c</field>
            <value>
                <elementReference>question_g_radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>question_f_radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Channel__c</field>
            <value>
                <elementReference>question_e_radio</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <screens>
        <name>display</name>
        <label>Display</label>
        <locationX>1274</locationX>
        <locationY>952</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_displaytext_title</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Done with channel and sub-channel type selection.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_displaytext_section</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have assigned the following:&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Channel Type:  &lt;B&gt;{!Channel_Name}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Sub Channel Type: &lt;B&gt;{!Sub_Channel_Name}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_C</name>
        <label>Question C</label>
        <locationX>263</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_C</targetReference>
        </connector>
        <fields>
            <name>question_c_displaytext</name>
            <fieldText>Are there hostesses and private rooms predominantly?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>question_c_radio</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_D</name>
        <label>Question D</label>
        <locationX>264</locationX>
        <locationY>655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_D</targetReference>
        </connector>
        <fields>
            <name>question_d_displaytext</name>
            <fieldText>During peak traffic time, is music loud (high ambience)?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>question_d_radio</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_E</name>
        <label>Question E</label>
        <locationX>917</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_F</targetReference>
        </connector>
        <fields>
            <name>question_e_displaytext</name>
            <fieldText>What is outlet sub-channel?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>question_e_radio</name>
            <choiceReferences>dynamic_record_sub_channel</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_F</name>
        <label>Question F</label>
        <locationX>1090</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_G</targetReference>
        </connector>
        <fields>
            <name>question_f_displaytext</name>
            <fieldText>What is outlet region?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>question_f_radio</name>
            <choiceReferences>choice_central</choiceReferences>
            <choiceReferences>choice_north</choiceReferences>
            <choiceReferences>choice_south</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_central</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_G</name>
        <label>Question G</label>
        <locationX>1251</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASI_CRM_Record_Group_Outlet</targetReference>
        </connector>
        <fields>
            <name>question_g_displaytext</name>
            <fieldText>What is contract brand?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>question_g_radio</name>
            <choiceReferences>choice_PRM</choiceReferences>
            <choiceReferences>choice_MHD</choiceReferences>
            <choiceReferences>choice_Neutral</choiceReferences>
            <choiceReferences>choice_Other_Brands</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_PRM</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sceen_question_b</name>
        <label>Question B</label>
        <locationX>502</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_B_Channel</targetReference>
        </connector>
        <fields>
            <name>Question_b</name>
            <fieldText>What’s the Restaurant’s food style?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>restaurant_food_style</name>
            <choiceReferences>choice_asian</choiceReferences>
            <choiceReferences>choice_western</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_asian</defaultSelectedChoiceReference>
            <fieldText>Restaurant Food Style</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question_A</name>
        <label>Question A</label>
        <locationX>94</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Major_Revenue</targetReference>
        </connector>
        <fields>
            <name>QuestionA</name>
            <fieldText>Is food the major revenue generator for the outlet?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FieldAnswerA</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProSegmentationLookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>ASI_CRM_MY_ChannelType_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASI_CRM_MY_GroupOutletType_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASI_CRM_MY_Image_Level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASI_CRM_MY_SubChannelType_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>channel_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>channel_code_asian_restaurant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>asian_restaurant</stringValue>
        </value>
    </variables>
    <variables>
        <name>channel_code_high_energy_bar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>high_energy_bar</stringValue>
        </value>
    </variables>
    <variables>
        <name>channel_code_ktv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ktv</stringValue>
        </value>
    </variables>
    <variables>
        <name>channel_code_low_energy_bar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>low_energy_bar</stringValue>
        </value>
    </variables>
    <variables>
        <name>channel_code_western_restaurant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>western_restaurant</stringValue>
        </value>
    </variables>
    <variables>
        <name>Channel_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Outlet_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pros_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pros_Image_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ASI_CRM_Pros_Image_Level__c</objectType>
    </variables>
    <variables>
        <name>Pros_Old_Contracted_brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pros_Old_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pros_Old_Sub_Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProsCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProsSegmentationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>region_central</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Central</stringValue>
        </value>
    </variables>
    <variables>
        <name>region_north</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>North</stringValue>
        </value>
    </variables>
    <variables>
        <name>region_south</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>South</stringValue>
        </value>
    </variables>
    <variables>
        <name>sobject_channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ASI_CRM_CN_Channel__c</objectType>
    </variables>
    <variables>
        <name>sobject_group_outlet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ASI_CRM_Group_Outlet_Type__c</objectType>
    </variables>
    <variables>
        <name>Sub_Channel_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sub_channel_object</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ASI_MFM_Sub_Channel__c</objectType>
    </variables>
</Flow>
