flows/ASI_MFM_PO_PB.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Remove PO Share</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_13_myRule_12_A1_0872820751</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Remove PO share</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision17</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_16_myRule_15_A1_3825119307</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_18_A1</name>
        <label>Remove PO share</label>
        <locationX>1800</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision20</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_19_myRule_18_A1_7852863853</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Remove PO share</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision23</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_22_myRule_21_A1_1482003382</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_24_A1</name>
        <label>Remove PO share</label>
        <locationX>2400</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision26</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_25_myRule_24_A1_3044317521</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Remove PO share</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision29</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_28_myRule_27_A1_6931183458</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_30_A1</name>
        <label>Remove PO share</label>
        <locationX>3000</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision32</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_31_myRule_30_A1_5458492419</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Share PO</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision35</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_34_myRule_33_A1_6069287343</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_36_A1</name>
        <label>Share PO</label>
        <locationX>3600</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision38</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_37_myRule_36_A1_2075185404</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_39_A1</name>
        <label>Share PO</label>
        <locationX>3900</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision41</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_40_myRule_39_A1_9304294885</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Remove PO Share</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision5</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_4_myRule_3_A1_2587354296</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_42_A1</name>
        <label>Share PO</label>
        <locationX>4200</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision44</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_43_myRule_42_A1_3846773985</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_45_A1</name>
        <label>Share PO</label>
        <locationX>4500</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision47</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_46_myRule_45_A1_0583687318</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_48_A1</name>
        <label>Share PO</label>
        <locationX>4800</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision50</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_49_myRule_48_A1_9688534503</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_51_A1</name>
        <label>Share PO</label>
        <locationX>5100</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision53</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_52_myRule_51_A1_0699262801</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_54_A1</name>
        <label>Share PO</label>
        <locationX>5400</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision56</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_55_myRule_54_A1_3221322040</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_57_A1</name>
        <label>Share PO</label>
        <locationX>5700</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision59</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_58_myRule_57_A1_3978515430</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Share PO with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_60_A1</name>
        <label>Share PO</label>
        <locationX>6000</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Share_PO_with_Approver</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_61_myRule_60_A1_2572288474</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Remove PO Share</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_7_myRule_6_A1_0313284557</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ASI MFM HK Remove PO Share with Approver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Remove PO Share</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>ASI_MFM_HK_Remove_PO_Share_with_Approver</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision11</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varPOId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varPOId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varUserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>varUserId</name>
            <value>
                <elementReference>formula_10_myRule_9_A1_2227514032</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>IS TH T&amp;E, FOC,Payroll and Other</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>SC Previous Approver 4 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>SC Previous Approver 5 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision17</name>
        <label>myDecision17</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_18</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>SC Previous Approver 6 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>SC Previous Approver 1 Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>SC Previous Approver 7 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision23</name>
        <label>myDecision23</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>SC Previous Approver 8 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>SC Previous Approver 9 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision29</name>
        <label>myDecision29</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <label>SC Previous Approver 10 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>SC Approver 1 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision35</name>
        <label>myDecision35</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_36</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_36</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_36_A1</targetReference>
            </connector>
            <label>SC Approver 2 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision38</name>
        <label>myDecision38</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision41</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_39</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_39_A1</targetReference>
            </connector>
            <label>SC Approver 3 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision41</name>
        <label>myDecision41</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_42</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_42</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_42_A1</targetReference>
            </connector>
            <label>SC Approver 4 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision44</name>
        <label>myDecision44</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision47</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_A1</targetReference>
            </connector>
            <label>SC Approver 5 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision47</name>
        <label>myDecision47</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_48</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_48</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_48_A1</targetReference>
            </connector>
            <label>SC Approver 6 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>SC Previous Approver 2 not Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision50</name>
        <label>myDecision50</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision53</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_51</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_51</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_51_A1</targetReference>
            </connector>
            <label>SC Approver 7 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision53</name>
        <label>myDecision53</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision56</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_54</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_54</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_54_A1</targetReference>
            </connector>
            <label>SC Approver 8 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision56</name>
        <label>myDecision56</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision59</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_57</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_57</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_57_A1</targetReference>
            </connector>
            <label>SC Approver 9 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision59</name>
        <label>myDecision59</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_60</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_60_A1</targetReference>
            </connector>
            <label>SC Approver 10 not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>SC Previous Approver 3 not Null</label>
        </rules>
    </decisions>
    <description>for all POs</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_3__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_2227514032</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_3__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_4__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_12_A1_0872820751</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_4__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_5__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_15_A1_3825119307</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_5__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_6__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_18_A1_7852863853</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_6__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_7__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_21_A1_1482003382</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_7__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_8__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_24_A1_3044317521</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_8__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_9__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_27_A1_6931183458</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_9__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_10__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_31_myRule_30_A1_5458492419</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_10__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_1__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_34_myRule_33_A1_6069287343</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_1__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_2__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_37_myRule_36_A1_2075185404</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_2__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_3__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_40_myRule_39_A1_9304294885</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_3__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_4__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_43_myRule_42_A1_3846773985</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_4__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_5__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_46_myRule_45_A1_0583687318</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_5__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_6__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_49_myRule_48_A1_9688534503</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_6__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_1__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_2587354296</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_1__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_7__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_52_myRule_51_A1_0699262801</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_7__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_8__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_55_myRule_54_A1_3221322040</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_8__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_9__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_58_myRule_57_A1_3978515430</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_9__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ASI_MFM_PO__c].ASI_MFM_Sys_Approver_10__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_61_myRule_60_A1_2572288474</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ASI_MFM_Sys_Approver_10__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_2__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_0313284557</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.ASI_MFM_Sys_Approver_2__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_TH_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_TH_PO_Read_Only&apos;) 
&amp;&amp; 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Status__c ) 
&amp;&amp;
ISPICKVAL(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Status__c ), &apos;Submitted&apos;)
&amp;&amp;
ISPICKVAL( [ASI_MFM_PO__c].ASI_MFM_Status__c , &apos;Final&apos;)
&amp;&amp;
(
[ASI_MFM_PO__c].ASI_MFM_Is_FOC_PO__c
||
[ASI_MFM_PO__c].ASI_MFM_T_E__c
||
[ASI_MFM_PO__c].ASI_MFM_Payroll_PO__c
) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_TH_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_TH_PO_Read_Only&apos;) 
&amp;&amp; 
ISCHANGED({!myVariable_current.ASI_MFM_Status__c} ) 
&amp;&amp;
ISPICKVAL(PRIORVALUE( {!myVariable_current.ASI_MFM_Status__c} ), &apos;Submitted&apos;)
&amp;&amp;
ISPICKVAL( {!myVariable_current.ASI_MFM_Status__c} , &apos;Final&apos;)
&amp;&amp;
(
{!myVariable_current.ASI_MFM_Is_FOC_PO__c}
||
{!myVariable_current.ASI_MFM_T_E__c}
||
{!myVariable_current.ASI_MFM_Payroll_PO__c}
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_4__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_4__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_4__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_4__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_5__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_5__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_5__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_5__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_6__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_6__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_18</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_6__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_6__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_7__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_7__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_7__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_7__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_8__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_8__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_8__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_8__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_9__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_9__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_9__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_9__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_1__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_1__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_1__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_1__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; 
 NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_10__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_10__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_30</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; 
 NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_10__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_10__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_1__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_1__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_1__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_1__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_2__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_2__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_36</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_2__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_2__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_3__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_3__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_39</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_3__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_3__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_4__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_4__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_42</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_4__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_4__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_5__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_5__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_45</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_5__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_5__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_6__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_6__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_48</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_6__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_6__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_7__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_7__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_51</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_7__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_7__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_8__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_8__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_54</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_8__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_8__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_9__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_9__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_57</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp;  (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_9__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_9__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_2__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_2__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_2__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_2__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_10__c ))
&amp;&amp;
NOT(ISBLANK([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_10__c )) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_60</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; (ISNEW() || 
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_10__c} ))
&amp;&amp;
NOT(ISBLANK({!myVariable_current.ASI_MFM_Sys_Approver_10__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ASI_MFM_PO__c].RecordType.DeveloperName= &apos;ASI_MFM_SC_PO&apos; || 
[ASI_MFM_PO__c].RecordType.DeveloperName = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED([ASI_MFM_PO__c].ASI_MFM_Sys_Approver_3__c) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( [ASI_MFM_PO__c].ASI_MFM_Sys_Approver_3__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName}= &apos;ASI_MFM_SC_PO&apos; || 
{!myVariable_current.RecordType.DeveloperName} = &apos;ASI_MFM_SC_PO_Read_Only&apos;) &amp;&amp; NOT(ISNEW()) &amp;&amp;
ISCHANGED({!myVariable_current.ASI_MFM_Sys_Approver_3__c}) &amp;&amp;
NOT(ISBLANK(PRIORVALUE( {!myVariable_current.ASI_MFM_Sys_Approver_3__c} )))</expression>
    </formulas>
    <interviewLabel>ASI_MFM_PO_PB-2_InterviewLabel</interviewLabel>
    <label>ASI MFM PO PB</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ASI_MFM_PO__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ASI_MFM_PO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update TH PO To Complete</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ASI_MFM_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>ASI_MFM_PO__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ASI_MFM_PO__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ASI_MFM_PO__c</objectType>
    </variables>
</Flow>
