flows/ASI_CRM_KH_FOC_Cancel_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>ASI CRM KH : FOC Cancel Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASI CRM KH : FOC Cancel Request</label>
    <loops>
        <name>Loop_each_Order_Item</name>
        <label>Loop each Order Item</label>
        <locationX>742</locationX>
        <locationY>211</locationY>
        <collectionReference>Get_Child_Line_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Child_item_cancelled_qty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SuccessfulMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Line_Item_Records</name>
        <label>Get Child Line Item Records</label>
        <locationX>560</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_each_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_FOC_Request_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ASI_FOC_Request_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Free_Good_Request_Record</name>
        <label>Get Current Free Good Request Record</label>
        <locationX>407</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_record_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASI_FOC_Free_Goods_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_item_cancelled_qty</name>
        <label>Update Child item cancelled qty</label>
        <locationX>932</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Loop_each_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASI_FOC_Request_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASI_FOC_Cancel_Quantity_PC_BT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ASI_FOC_Request_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_status</name>
        <label>Update record status</label>
        <locationX>584</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Child_Line_Item_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASI_CRM_JDE_SO_Number__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_Sync_to_JDE__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_FOC_Request_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>ASI_FOC_Free_Goods_Request__c</object>
    </recordUpdates>
    <screens>
        <name>SuccessfulMessage</name>
        <label>SuccessfulMessage</label>
        <locationX>748</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancelSuccess</name>
            <fieldText>&lt;p&gt;You have cancelled the request record !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Free_Good_Request_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
