flows/ASI_TnE_TW_PB_Copy_Email_Address.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check if CC exists</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Check if Plan exists</label>
        </rules>
    </decisions>
    <description>Copy Email Address from CC or Plan Owner Email</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>BEGINS([ASI_TnE_ClaimDetail__c].RecordType.DeveloperName, &quot;ASI_TnE_TW&quot;) &amp;&amp; 
OR (!ISBLANK([ASI_TnE_ClaimDetail__c].ASI_TnE_Charge_To_Acc__c) &amp;&amp; ISNEW() ,   !ISNEW() &amp;&amp; ISCHANGED([ASI_TnE_ClaimDetail__c].ASI_TnE_Charge_To_Acc__c) &amp;&amp; !ISBLANK([ASI_TnE_ClaimDetail__c].ASI_TnE_Charge_To_Acc__c) ) &amp;&amp; !ISBLANK ([ASI_TnE_ClaimDetail__c].ASI_TnE_Charge_To_Acc__c.ASI_LUX_Email_Business__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!myVariable_current.RecordType.DeveloperName}, &quot;ASI_TnE_TW&quot;) &amp;&amp; 
OR (!ISBLANK({!myVariable_current.ASI_TnE_Charge_To_Acc__c}) &amp;&amp; ISNEW() ,   !ISNEW() &amp;&amp; ISCHANGED({!myVariable_current.ASI_TnE_Charge_To_Acc__c}) &amp;&amp; !ISBLANK({!myVariable_current.ASI_TnE_Charge_To_Acc__c}) ) &amp;&amp; !ISBLANK ({!myVariable_current.ASI_TnE_Charge_To_Acc__c.ASI_LUX_Email_Business__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>BEGINS([ASI_TnE_ClaimDetail__c].RecordType.DeveloperName, &quot;ASI_TnE_TW&quot;) &amp;&amp; 
OR (!ISBLANK([ASI_TnE_ClaimDetail__c].ASI_TnE_CAP_Plan__c) &amp;&amp; ISNEW() ,   !ISNEW() &amp;&amp; ISCHANGED([ASI_TnE_ClaimDetail__c].ASI_TnE_CAP_Plan__c) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!myVariable_current.RecordType.DeveloperName}, &quot;ASI_TnE_TW&quot;) &amp;&amp; 
OR (!ISBLANK({!myVariable_current.ASI_TnE_CAP_Plan__c}) &amp;&amp; ISNEW() ,   !ISNEW() &amp;&amp; ISCHANGED({!myVariable_current.ASI_TnE_CAP_Plan__c}) )</expression>
    </formulas>
    <interviewLabel>ASI_TnE_TW_PB_Copy_Email_Address-3_ASI_TnE_ClaimDetail__c</interviewLabel>
    <label>ASI_TnE Copy Email Address</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ASI_TnE_ClaimDetail__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ASI_TnE_ClaimDetail__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Copy CC Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Notice</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ASI_TnE_Email_Notice__c</field>
            <value>
                <elementReference>myVariable_current.ASI_TnE_Charge_To_Acc__r.ASI_LUX_Email_Business__c</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_ClaimDetail__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ASI_TnE_ClaimDetail__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Copy Plan Owner Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Notice</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ASI_TnE_Email_Notice__c</field>
            <value>
                <elementReference>myVariable_current.ASI_TnE_CAP_Plan__r.ASI_MFM_Owner_Link__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TnE_ClaimDetail__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ASI_TnE_ClaimDetail__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ASI_TnE_ClaimDetail__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
