flows/ASI_SG_Extend_Contract_Period.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ASI_CRM_Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>194</locationX>
        <locationY>476</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>ASI_CRM_Finishing_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ASI_CRM_ContractID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>SG Amend Contract Period {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SG Amend Contract Period</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>ASI_CRM_Get_Contract_End_Date</name>
        <label>Get Contract End Date</label>
        <locationX>111</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASI_CRM_Input_New_Contract_End_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASI_CRM_Insufficient_Privilege</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_ContractID</elementReference>
            </value>
        </filters>
        <object>ASI_TH_CRM_Contract__c</object>
        <outputAssignments>
            <assignToReference>ASI_CRM_CurrentContractEndDate</assignToReference>
            <field>ASI_TH_CRM_End_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ASI_CRM_Update_New_Contract_End_Date_And_Mark_Extened_Flag</name>
        <label>Update New Contract End Date And Mark Extened Flag</label>
        <locationX>114</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>ASI_CRM_Submit_For_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASI_CRM_Insufficient_Privilege</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASI_CRM_ContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASI_CRM_Contract_Period_Req_To_Extend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_CRM_End_Date_Original__c</field>
            <value>
                <elementReference>ASI_CRM_CurrentContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASI_TH_CRM_End_Date__c</field>
            <value>
                <elementReference>ASI_CRM_New_Contract_End_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ASI_TH_CRM_Contract__c</object>
    </recordUpdates>
    <screens>
        <name>ASI_CRM_Finishing_Screen</name>
        <label>Finishing Screen</label>
        <locationX>116</locationX>
        <locationY>622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ASI_CRM_FinishingMessage</name>
            <fieldText>The Amend Contract Period Request is submitted.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ASI_CRM_Input_New_Contract_End_Date</name>
        <label>Input New Contract End Date</label>
        <locationX>113</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASI_CRM_Update_New_Contract_End_Date_And_Mark_Extened_Flag</targetReference>
        </connector>
        <fields>
            <name>ASI_CRM_DisplayCurrentContractEndDate</name>
            <fieldText>The current Contract End Date is {!ASI_CRM_CurrentContractEndDate}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ASI_CRM_New_Contract_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>New Contract End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ASI_CRM_Insufficient_Privilege</name>
        <label>Insufficient Privilege</label>
        <locationX>604</locationX>
        <locationY>318</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ASI_CRM_InsufficientPrivilegeMessage</name>
            <fieldText>Sorry, you cannot access this function.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ASI_CRM_Get_Contract_End_Date</startElementReference>
    <status>Active</status>
    <variables>
        <description>Get this contract id</description>
        <name>ASI_CRM_ContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Contract End Date from this contract</description>
        <name>ASI_CRM_CurrentContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASI_CRM_RequestingToDelete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
