flows/BMC_RF_Change_Request_Closed_Cancelled_Closes_Related_Records_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>CANCELLED</name>
        <choiceText>CANCELLED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a48D000000000mg</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLOSED</name>
        <choiceText>CLOSED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a48D000000000mZ</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_Request_Open_Tasks</name>
        <label>Change Request Open Tasks</label>
        <locationX>726</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Request_has_Open_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Close_with_Open_Tasks</targetReference>
            </connector>
            <label>Change Request has Open Tasks</label>
        </rules>
        <rules>
            <name>Change_Request_does_not_have_open_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Change_Request_with_Close_Details</targetReference>
            </connector>
            <label>Change Request does not have open Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Status_Open_Tasks</name>
        <label>Confirm Status &amp; Open Tasks</label>
        <locationX>243</locationX>
        <locationY>81</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_Close_Due_to_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CLOSED</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StatusID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a48D0000000HsEEIA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_to_Close_Change_Request</targetReference>
            </connector>
            <label>Cannot Close Due to Status</label>
        </rules>
        <rules>
            <name>Close_Change_and_Close_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Related_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Tasks_0</targetReference>
            </connector>
            <label>Close Change and Close Tasks</label>
        </rules>
        <rules>
            <name>Close_Change_and_Do_Not_Close_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Related_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Tasks</targetReference>
            </connector>
            <label>Close Change and Do Not Close Tasks</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClosureCategoryChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BMCServiceDesk__ClosureCategory__c</picklistField>
        <picklistObject>BMCServiceDesk__Change_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>BMC_RF_Change Request Closed / Cancelled Closes Related Records Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Change Request Closed / Cancelled Closes Related Records Flow</label>
    <loops>
        <name>Get_Open_Tasks_to_Close_Cancel</name>
        <label>Get Open Tasks to Close / Cancel</label>
        <locationX>360</locationX>
        <locationY>480</locationY>
        <assignNextValueToReference>LoopVariable</assignNextValueToReference>
        <collectionReference>OpenTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Change_Request_with_Close_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Open_Tasks</name>
        <label>Get Open Tasks</label>
        <locationX>521</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Request_Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeRequestID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMCServiceDesk__state__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BMCServiceDesk__Task__c</object>
        <outputReference>OpenTasks</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Tasks_0</name>
        <label>Get Open Tasks</label>
        <locationX>252</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Tasks_to_Close_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeRequestID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMCServiceDesk__state__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BMCServiceDesk__Task__c</object>
        <outputReference>OpenTasks</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Change_Request_with_Close_Details</name>
        <label>Update Change Request with Close Details</label>
        <locationX>733</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Update_Change_Request_with_Close_Details_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__AllTaskCloseController__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Change_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Change_Request_with_Close_Details_0</name>
        <label>Update Change Request with Close Details</label>
        <locationX>938</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>Change_Request_Close_Cancel_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__Close_Comments__c</field>
            <value>
                <elementReference>Close_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__ClosureCategory__c</field>
            <value>
                <elementReference>Closure_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCPE_Close_Related_Demands__c</field>
            <value>
                <elementReference>Close_Related_Demands</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCPE_Close_Related_Incidents__c</field>
            <value>
                <elementReference>Close_Related_Incidents</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Change_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>301</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Get_Open_Tasks_to_Close_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__state__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__state__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Task__c</object>
    </recordUpdates>
    <screens>
        <name>Cannot_Close_with_Open_Tasks</name>
        <label>Cannot Close with Open Tasks</label>
        <locationX>987</locationX>
        <locationY>45</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotCloseOpenTasks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;To close the change request, close the linked tasks.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Request_Close_Cancel_Complete</name>
        <label>Change Request Close / Cancel Complete</label>
        <locationX>1141</locationX>
        <locationY>603</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChangeRequestClosedCancelled</name>
            <fieldText>&lt;p&gt;Your change request has been {!Status}.  Please close this window to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_Cancel_Change_Request</name>
        <label>Close / Cancel Change Request</label>
        <locationX>50</locationX>
        <locationY>227</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Status_Open_Tasks</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>CLOSED</choiceReferences>
            <choiceReferences>CANCELLED</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closure_Category</name>
            <choiceReferences>ClosureCategoryChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Closure Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Comments</name>
            <fieldText>Close Comments (Limit 255 Characters)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please limit your close comments to 250 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Close_Comments}) &gt; 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Close_Related_Incidents</name>
            <dataType>Boolean</dataType>
            <fieldText>Close Related Incidents</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Related_Demands</name>
            <dataType>Boolean</dataType>
            <fieldText>Close Related Demands</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Related_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Close Related Tasks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unable_to_Close_Change_Request</name>
        <label>Unable to Close Change Request</label>
        <locationX>607</locationX>
        <locationY>27</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotClose</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Change Requests can only be Closed after being deployed to Production. Please advance this Change Request to Pending Deployment to Production, and then close the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Close_Cancel_Change_Request</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>ChangeRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Task__c</objectType>
    </variables>
    <variables>
        <name>OpenTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Task__c</objectType>
    </variables>
    <variables>
        <name>StatusID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
