flows/BMC_RF_Incident_Approval_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Access_Approval_Request</name>
        <choiceText>Access Approval Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Generic_Approval_Request</name>
        <choiceText>Generic Approval Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ManagerApproval</name>
        <choiceText>Manager Approval Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>WaitingForApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a48D0000000Pswl</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Approval_Request_Type</name>
        <label>Approval Request Type</label>
        <locationX>377</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Selected_Generic_Approval_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generic_Approval_Request</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Generic_Approval_Request</targetReference>
            </connector>
            <label>Selected: Generic Approval Request</label>
        </rules>
        <rules>
            <name>Selected_Access_Approval_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Access_Approval_Request</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Access_Approval_Request</targetReference>
            </connector>
            <label>Selected: Access Approval Request</label>
        </rules>
        <rules>
            <name>Selected_Manager_Approval_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_an_Approval_Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ManagerApproval</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Generic_Approval_Request_0</targetReference>
            </connector>
            <label>Selected: Manager Approval Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Company_Available</name>
        <label>Is Company Available?</label>
        <locationX>1194</locationX>
        <locationY>525</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Company_Information_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_with_Approver</targetReference>
            </connector>
            <label>Company Information Available</label>
        </rules>
        <rules>
            <name>Company_Information_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Region_Approvers</targetReference>
            </connector>
            <label>Company Information Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Region_Available</name>
        <label>Is Region Available</label>
        <locationX>1196</locationX>
        <locationY>745</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Region_Information_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_with_Approver</targetReference>
            </connector>
            <label>Region Information Available</label>
        </rules>
        <rules>
            <name>Region_Information_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Global_Approvers</targetReference>
            </connector>
            <label>Region Information Not Available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ApproverList</name>
        <dataType>String</dataType>
        <displayField>BMC_RF_Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMC_RF_Self_Service_Approver__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>BMC_RF_Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CategoryList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMC_RF_Affiliate__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Affiliate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Available_for_Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>StaffID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>BMC_RF_Incident Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Incident Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_for_Access_Approval_Request</name>
        <label>Create Task for Access Approval Request</label>
        <locationX>1026</locationX>
        <locationY>405</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Company_Approvers</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKCategory__c</field>
            <value>
                <elementReference>CategoryList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKClient__c</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKImpact__c</field>
            <value>
                <elementReference>Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKIncident__c</field>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKOpenBy__c</field>
            <value>
                <elementReference>StaffID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKUrgency__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__taskDescription__c</field>
            <value>
                <elementReference>Approval_Description_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Description__c</field>
            <value>
                <elementReference>Approval_Summary_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Notification_Only__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Summary__c</field>
            <value>
                <elementReference>Approval_Summary_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Task_Validated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Generic_Approval_Request</name>
        <label>Create Task for Generic Approval Request</label>
        <locationX>992</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Approval_Request_Received</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKClient__c</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKImpact__c</field>
            <value>
                <elementReference>Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKIncident__c</field>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKOpenBy__c</field>
            <value>
                <elementReference>StaffID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKUrgency__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__taskDescription__c</field>
            <value>
                <elementReference>Approval_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Description__c</field>
            <value>
                <elementReference>Approval_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_User_I__c</field>
            <value>
                <elementReference>ApproverList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Summary__c</field>
            <value>
                <elementReference>Approval_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Task_Validated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Generic_Approval_Request_0</name>
        <label>Create Task for Generic Approval Request</label>
        <locationX>979</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Approval_Request_Received_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKClient__c</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKImpact__c</field>
            <value>
                <elementReference>Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKIncident__c</field>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKOpenBy__c</field>
            <value>
                <elementReference>StaffID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKUrgency__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__taskDescription__c</field>
            <value>
                <elementReference>Approval_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Description__c</field>
            <value>
                <elementReference>Approval_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_User_I__c</field>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Summary__c</field>
            <value>
                <elementReference>Approval_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Task_Validated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Company_Approvers</name>
        <label>Find Company Approvers</label>
        <locationX>1192</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Company_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryList</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Affiliate_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Affiliate</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>AccessApproverID</assignToReference>
            <field>BMC_RF_Access_Approver__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentApprovalTemplate</assignToReference>
            <field>BMC_RF_Incident_Approval_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentCloseTemplate</assignToReference>
            <field>BMC_RF_Incident_Close_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentRejectionTemplate</assignToReference>
            <field>BMC_RF_Incident_Rejection_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskApprovalTemplate</assignToReference>
            <field>BMC_RF_Task_Approval_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskCloseTemplate</assignToReference>
            <field>BMC_RF_Task_Close_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskRejectionTemplate</assignToReference>
            <field>BMC_RF_Task_Rejection_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApprovalCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Global_Approvers</name>
        <label>Find Global Approvers</label>
        <locationX>1197</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryList</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>AccessApproverID</assignToReference>
            <field>BMC_RF_Access_Approver__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentApprovalTemplate</assignToReference>
            <field>BMC_RF_Incident_Approval_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentCloseTemplate</assignToReference>
            <field>BMC_RF_Incident_Close_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentRejectionTemplate</assignToReference>
            <field>BMC_RF_Incident_Rejection_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskApprovalTemplate</assignToReference>
            <field>BMC_RF_Task_Approval_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskCloseTemplate</assignToReference>
            <field>BMC_RF_Task_Close_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskRejectionTemplate</assignToReference>
            <field>BMC_RF_Task_Rejection_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Region_Approvers</name>
        <label>Find Region Approvers</label>
        <locationX>1194</locationX>
        <locationY>637</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Region_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryList</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Region_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>AccessApproverID</assignToReference>
            <field>BMC_RF_Access_Approver__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentApprovalTemplate</assignToReference>
            <field>BMC_RF_Incident_Approval_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentCloseTemplate</assignToReference>
            <field>BMC_RF_Incident_Close_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentRejectionTemplate</assignToReference>
            <field>BMC_RF_Incident_Rejection_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskApprovalTemplate</assignToReference>
            <field>BMC_RF_Task_Approval_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskCloseTemplate</assignToReference>
            <field>BMC_RF_Task_Close_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskRejectionTemplate</assignToReference>
            <field>BMC_RF_Task_Rejection_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApprovalCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Incident_Details</name>
        <label>Lookup Incident Details</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Incident__c</object>
        <outputAssignments>
            <assignToReference>ManagerID</assignToReference>
            <field>BMCServiceDesk__Client_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>BMCServiceDesk__FKClient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Impact</assignToReference>
            <field>BMCServiceDesk__FKImpact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Urgency</assignToReference>
            <field>BMCServiceDesk__FKUrgency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Affiliate</assignToReference>
            <field>BMC_RF_Affiliate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Region</assignToReference>
            <field>BMC_RF_Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incident_Approval_Status</name>
        <label>Update Incident Approval Status</label>
        <locationX>833</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Create_Task_for_Generic_Approval_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <elementReference>WaitingForApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incident_Approval_Status_0</name>
        <label>Update Incident Approval Status</label>
        <locationX>813</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Create_Task_for_Generic_Approval_Request_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <elementReference>WaitingForApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incident_IT_Process</name>
        <label>Update Incident IT Process</label>
        <locationX>855</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Create_Task_for_Access_Approval_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <elementReference>WaitingForApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_IT_Process__c</field>
            <value>
                <stringValue>Self Service</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_with_Approver</name>
        <label>Update Task with Approver</label>
        <locationX>1537</locationX>
        <locationY>749</locationY>
        <connector>
            <targetReference>Approval_Request_Received_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Approval_User_I__c</field>
            <value>
                <elementReference>AccessApproverID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Incident_Approval_Template__c</field>
            <value>
                <elementReference>IncidentApprovalTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Incident_Close_Template__c</field>
            <value>
                <elementReference>IncidentCloseTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Incident_Rejection_Template__c</field>
            <value>
                <elementReference>IncidentRejectionTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Task_Approval_Template__c</field>
            <value>
                <elementReference>TaskApprovalTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Task_Close_Template__c</field>
            <value>
                <elementReference>TaskCloseTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Task_Rejection_Template__c</field>
            <value>
                <elementReference>TaskRejectionTemplate</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Task__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Request</name>
        <label>Approval Request</label>
        <locationX>380</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approval_Request_Type</targetReference>
        </connector>
        <fields>
            <name>Please_Select_an_Approval_Process</name>
            <choiceReferences>Generic_Approval_Request</choiceReferences>
            <choiceReferences>Access_Approval_Request</choiceReferences>
            <choiceReferences>ManagerApproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select an Approval Process</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_Request_Received</name>
        <label>Approval Request Received</label>
        <locationX>1148</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalRequestReceived</name>
            <fieldText>Thank you for submitting your approval request.  To continue, please close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_Request_Received_0</name>
        <label>Approval Request Received</label>
        <locationX>1162</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalRequestReceived_0</name>
            <fieldText>Thank you for submitting your approval request.  To continue, please close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_Request_Received_2</name>
        <label>Approval Request Received</label>
        <locationX>1728</locationX>
        <locationY>752</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalRequestRecieved</name>
            <fieldText>Thank you for submitting your approval request.  To continue, please close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Access_Approval_Request</name>
        <label>Submit Access Approval Request</label>
        <locationX>686</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Incident_IT_Process</targetReference>
        </connector>
        <fields>
            <name>Category</name>
            <choiceReferences>CategoryList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Summary_2</name>
            <dataType>String</dataType>
            <fieldText>Approval Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Description_2</name>
            <fieldText>Approval Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Generic_Approval_Request</name>
        <label>Submit Generic Approval Request</label>
        <locationX>686</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Incident_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Approval_Summary</name>
            <dataType>String</dataType>
            <fieldText>Approval Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Description</name>
            <fieldText>Approval Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approver</name>
            <choiceReferences>ApproverList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approver</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Generic_Approval_Request_0</name>
        <label>Submit Generic Approval Request</label>
        <locationX>692</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Incident_Approval_Status_0</targetReference>
        </connector>
        <fields>
            <name>Approval_Summary_0</name>
            <dataType>String</dataType>
            <fieldText>Approval Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Description_0</name>
            <fieldText>Approval Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Incident_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccessApproverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Affiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovalCategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApproverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Impact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentApprovalTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentCloseTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentRejectionTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskApprovalTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskCloseTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskRejectionTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Urgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
