flows/BMC_RF_Incident_Update_CI_Asset_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>BMC_RF_Incident Update CI / Asset Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Incident Update CI / Asset Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Asset</name>
        <label>Find Asset</label>
        <locationX>419</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CI_Asset_on_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKLocation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>AssetName</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
        <outputAssignments>
            <assignToReference>AssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>254</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
        <outputAssignments>
            <assignToReference>LocationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CI_Asset_on_Incident</name>
        <label>Update CI / Asset on Incident</label>
        <locationX>799</locationX>
        <locationY>673</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKBMC_BaseElement__c</field>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__incidentDescription__c</field>
            <value>
                <elementReference>AssetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__incidentResolution__c</field>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Waiting_for_User_Details__c</field>
            <value>
                <elementReference>LocationID</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocationID15</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LEFT({!LocationID},15)</stringValue>
        </value>
    </variables>
    <variables>
        <name>LocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
