flows/BMC_RF_Incident_Assignment_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Creation_Notification_Queue</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Queue: Incident Created Notification</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Creation_Notification_Queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Creation_Notification_Queue_No_Category_or_Priority</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Queue: Incident Created Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Creation_Notification_Queue_No_Category_or_Priority</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Creation_Notification_Staff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Staff: Incident Created Notification</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Creation_Notification_Staff</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_21_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Assignment_Notification_Queue</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>Queue: Incident Assigned Notification</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Assignment_Notification_Queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_31_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Assignment_Notification_Staff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_36_A1</name>
        <label>Staff: Incident Assigned Notification</label>
        <locationX>3600</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Assignment_Notification_Staff</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_36_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Assignment_Notification_Staff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_41_A1</name>
        <label>Staff: Incident Assigned Notification</label>
        <locationX>4100</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Assignment_Notification_Staff</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_41_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Resolution_Rejected_Notification_Queue</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_45_A1</name>
        <label>Queue: Resolution Rejected Notification</label>
        <locationX>4500</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Resolution_Rejected_Notification_Queue</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Resolution_Rejected_Notification_Staff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_47_A1</name>
        <label>Staff: Resolution Rejected Notification</label>
        <locationX>4700</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Resolution_Rejected_Notification_Staff</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Queue: Incident Created + Resolved (Mail Listen + Self Service)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Queue: Incident Created + Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_pmetdec</targetReference>
            </connector>
            <label>Queue: Incident Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_pmetdec</targetReference>
            </connector>
            <label>Staff: Incident Created + Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision25</name>
        <label>myDecision25</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_26</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_pmetdec</targetReference>
            </connector>
            <label>Staff: Incident Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>Queue: Incident Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision35</name>
        <label>myDecision35</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision40</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_36</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_36</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_36_A1</targetReference>
            </connector>
            <label>Staff: Incident Assigned with Queue</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision40</name>
        <label>myDecision40</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_41</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_41</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_41_A1</targetReference>
            </connector>
            <label>Staff: Incident Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision44</name>
        <label>myDecision44</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision46</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_pmetdec</targetReference>
            </connector>
            <label>Queue: Resolution Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision46</name>
        <label>myDecision46</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_47</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_47</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_47_pmetdec</targetReference>
            </connector>
            <label>Staff: Resolution Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_pmetdec</targetReference>
            </connector>
            <label>Queue: Incident Created (Mail Listen + Self Service)</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_11_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_16_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_16_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_16_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_21_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_21_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_21_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_26_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_26_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_26_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_26_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_45_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>4500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_45_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_45_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_45_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_45_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_47_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>4700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_47_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_47_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_47_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_47_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_47_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_6_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_6_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_6_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_A2_3742772450</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  OR(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_11_A2_6060525409</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    {!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_11_A2_3186578164</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_16_A1_5204445754</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  OR(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_16_A1_6795487359</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    {!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_16_A1_6830498413</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  OR(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_21_A2_9942242465</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    {!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_21_A2_3991185345</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_21_A2_9218567071</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  OR(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_26_A1_1155096284</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    {!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_26_A1_0276977730</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_26_A1_8479642283</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_3660343358</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_32_myRule_31_A2_7849734261</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  AND(
    OR(
      [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
      [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;CGI&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; CGI&apos;,

IF(
  AND(
    CONTAINS([BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;HCL&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; HCL&apos;,

IF(
  AND(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &apos;PRW - IT Service Bar&apos;,
    NOT(CONTAINS([BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;)),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;PR&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; PR&apos;,  
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_33_myRule_31_A2_7681358219</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    OR(
      {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
      {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;CGI&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; CGI&apos;,

IF(
  AND(
    CONTAINS({!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;HCL&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; HCL&apos;,

IF(
  AND(
    {!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &apos;PRW - IT Service Bar&apos;,
    NOT(CONTAINS({!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;)),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;PR&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; PR&apos;,  
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_34_myRule_31_A2_9027904944</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  AND(
    OR(
      [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
      [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;CGI&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; CGI&apos;,

IF(
  AND(
    CONTAINS([BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;HCL&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; HCL&apos;,

IF(
  AND(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &apos;PRW - IT Service Bar&apos;,
    NOT(CONTAINS([BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;)),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;PR&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; PR&apos;,  
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_37_myRule_36_A2_4456652116</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    OR(
      {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
      {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;CGI&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; CGI&apos;,

IF(
  AND(
    CONTAINS({!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;HCL&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; HCL&apos;,

IF(
  AND(
    {!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &apos;PRW - IT Service Bar&apos;,
    NOT(CONTAINS({!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;)),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;PR&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; PR&apos;,  
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_38_myRule_36_A2_4355731706</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_39_myRule_36_A2_2828113233</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  OR(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_5153905013</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    {!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  AND(
    OR(
      [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
      [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;CGI&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; CGI&apos;,

IF(
  AND(
    CONTAINS([BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;HCL&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; HCL&apos;,

IF(
  AND(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &apos;PRW - IT Service Bar&apos;,
    NOT(CONTAINS([BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;)),
    OR(
      ISBLANK(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c)),
      NOT(CONTAINS(PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c),&apos;PR&apos;))
    )
  ),
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c) &amp; &apos; PR&apos;,  
  PRIORVALUE([BMCServiceDesk__Incident__c].BMC_RF_Company_Managed__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_42_myRule_41_A2_3940950433</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    OR(
      {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
      {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;CGI&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; CGI&apos;,

IF(
  AND(
    CONTAINS({!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;HCL&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; HCL&apos;,

IF(
  AND(
    {!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &apos;PRW - IT Service Bar&apos;,
    NOT(CONTAINS({!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;)),
    OR(
      ISBLANK(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c})),
      NOT(CONTAINS(PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}),&apos;PR&apos;))
    )
  ),
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}) &amp; &apos; PR&apos;,  
  PRIORVALUE({!myVariable_current.BMC_RF_Company_Managed__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_43_myRule_41_A2_1505492441</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A2_2769033800</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_4181771256</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  OR(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRA - IT Service Bar&apos;,
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    [BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_6_A1_3136320599</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRA - IT Service Bar&apos;,
    {!myVariable_current.BMCServiceDesk__Queue__c} = &apos;PRW - IT Service Bar&apos;),
  &apos;CGI&apos;,
IF(
  CONTAINS(
    {!myVariable_current.BMCServiceDesk__Queue__c}, &apos;PROPS&apos;),
  &apos;HCL&apos;,
&apos;PR&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_6_A1_6667655768</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &quot;Email Listener&quot;,
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;),
ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;),ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )),
{!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &quot;Email Listener&quot;,
ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;),
ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;),ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;,
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;)),
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;)), NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )), ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;,
NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;)),
NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;)), NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;,
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;)),
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;)), NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.OwnerId} )), ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c}), {!myVariable_old.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;,
NOT(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;)),
NOT(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;)), NOT(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), 
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;)),
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;)), NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )), ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), 
NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;)),
NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;)), NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), 
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;)),
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;)), NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.OwnerId} )), ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c}), 
NOT(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;)),
NOT(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;)), NOT(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &quot;Email Listener&quot;,
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;),
ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;),ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.OwnerId} )),
{!myVariable_old.BMCServiceDesk__Queue__c} &lt;&gt; &quot;Email Listener&quot;,
ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c}), {!myVariable_old.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;),
ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;),ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id, [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id}, {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id, [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_old.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id}, {!myVariable_old.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_26</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_26_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_old.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISCHANGED([BMCServiceDesk__Incident__c].OwnerId),
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )), ISCHANGED({!myVariable_current.OwnerId}),
ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
ISCHANGED([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c),
ISCHANGED([BMCServiceDesk__Incident__c].OwnerId),
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id, [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_36</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
ISCHANGED({!myVariable_current.BMCServiceDesk__FKOpenBy__c}),
ISCHANGED({!myVariable_current.OwnerId}),
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id}, {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
ISCHANGED([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c),
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id, [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_41</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
ISCHANGED({!myVariable_current.BMCServiceDesk__FKOpenBy__c}),
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id}, {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_45</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )), ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}),
{!myVariable_current.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_45_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.OwnerId} )), ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c}),
{!myVariable_old.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id,
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_47</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id},
{!myVariable_current.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id,
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_47_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_old.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id},
{!myVariable_old.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &quot;Email Listener&quot;,
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), OR(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;),
ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;),ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )),
{!myVariable_current.BMCServiceDesk__Queue__c} &lt;&gt; &quot;Email Listener&quot;,
ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), OR(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;),
ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;),ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Queue__c &lt;&gt; &quot;Email Listener&quot;,
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), OR(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;),
ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;),ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.OwnerId} )),
{!myVariable_old.BMCServiceDesk__Queue__c} &lt;&gt; &quot;Email Listener&quot;,
ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c}), OR(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;),
ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;),ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <interviewLabel>BMC_RF_Incident_Assignment_Notification-19_InterviewLabel</interviewLabel>
    <label>BMC_RF_Incident Assignment Notification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BMCServiceDesk__Incident__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A2</name>
        <label>Update Assigned Date</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Assigned_Date__c</field>
            <value>
                <elementReference>formula_12_myRule_11_A2_3742772450</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_13_myRule_11_A2_6060525409</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_14_myRule_11_A2_3186578164</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>Update Assigned Date</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Assigned_Date__c</field>
            <value>
                <elementReference>formula_17_myRule_16_A1_5204445754</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_18_myRule_16_A1_6795487359</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_19_myRule_16_A1_6830498413</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Assigned Date</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Assigned_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_3660343358</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_5153905013</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A2_2769033800</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_21_A2</name>
        <label>Update Assigned Date</label>
        <locationX>2100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_22_myRule_21_A2_9942242465</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_23_myRule_21_A2_3991185345</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Staff Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Staff_Assigned_Date__c</field>
            <value>
                <elementReference>formula_24_myRule_21_A2_9218567071</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_26_A1</name>
        <label>Update Assigned Date</label>
        <locationX>2600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_27_myRule_26_A1_1155096284</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_28_myRule_26_A1_0276977730</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Staff Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Staff_Assigned_Date__c</field>
            <value>
                <elementReference>formula_29_myRule_26_A1_8479642283</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_31_A2</name>
        <label>Update Assigned Date</label>
        <locationX>3100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Assigned_Date__c</field>
            <value>
                <elementReference>formula_32_myRule_31_A2_7849734261</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_33_myRule_31_A2_7681358219</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_34_myRule_31_A2_9027904944</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_36_A2</name>
        <label>Update Assigned Date</label>
        <locationX>3600</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_37_myRule_36_A2_4456652116</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_38_myRule_36_A2_4355731706</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Staff Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Staff_Assigned_Date__c</field>
            <value>
                <elementReference>formula_39_myRule_36_A2_2828113233</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_41_A2</name>
        <label>Update Assigned Date</label>
        <locationX>4100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_42_myRule_41_A2_3940950433</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Staff Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Staff_Assigned_Date__c</field>
            <value>
                <elementReference>formula_43_myRule_41_A2_1505492441</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Update Assigned Date</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Assigned_Date__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_4181771256</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Company Managed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Company_Managed__c</field>
            <value>
                <elementReference>formula_8_myRule_6_A1_3136320599</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Queue Assigned Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Queue_Assigned_Date__c</field>
            <value>
                <elementReference>formula_9_myRule_6_A1_6667655768</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
</Flow>
