flows/BMC_RF_Incident_Workday_Integration_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>534</locationX>
        <locationY>579</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserID_Found_NH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_New_Hire_Form</targetReference>
            </connector>
            <label>UserID Found (NH)</label>
        </rules>
        <rules>
            <name>UserID_Found_T</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Termination_Form</targetReference>
            </connector>
            <label>UserID Found (T)</label>
        </rules>
        <rules>
            <name>UserID_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_AD_SF_Sync_2</targetReference>
            </connector>
            <label>UserID Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found_0</name>
        <label>User Found?</label>
        <locationX>661</locationX>
        <locationY>875</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserID_Found_NH_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_New_Hire_Form</targetReference>
            </connector>
            <label>UserID Found (NH)</label>
        </rules>
        <rules>
            <name>UserID_Found_T_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Termination_Form</targetReference>
            </connector>
            <label>UserID Found (T)</label>
        </rules>
        <rules>
            <name>UserID_Not_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_AD_SF_Sync_3</targetReference>
            </connector>
            <label>UserID Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found_0_0</name>
        <label>User Found?</label>
        <locationX>1316</locationX>
        <locationY>1218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserID_Found_NH_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_New_Hire_Form</targetReference>
            </connector>
            <label>UserID Found (NH)</label>
        </rules>
        <rules>
            <name>UserID_Found_T_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Termination_Form</targetReference>
            </connector>
            <label>UserID Found (T)</label>
        </rules>
        <rules>
            <name>UserID_Not_Found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ticket_to_Opened</targetReference>
            </connector>
            <label>UserID Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found_0_0_0</name>
        <label>User Found?</label>
        <locationX>625</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserID_Found_NH_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_New_Hire_Form</targetReference>
            </connector>
            <label>UserID Found (NH)</label>
        </rules>
        <rules>
            <name>UserID_Found_T_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowDefinition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Termination_Form</targetReference>
            </connector>
            <label>UserID Found (T)</label>
        </rules>
        <rules>
            <name>UserID_Not_Found_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_AD_SF_Sync_1</targetReference>
            </connector>
            <label>UserID Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>BMC_RF_Incident Workday Integration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Incident Workday Integration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_New_Hire_Form</name>
        <label>Find New Hire Form</label>
        <locationX>1267</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Ticket_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CompanyID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
        <outputAssignments>
            <assignToReference>NewHireID</assignToReference>
            <field>BMC_RF_New_Hire_Form__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Termination_Form</name>
        <label>Find Termination Form</label>
        <locationX>1658</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Ticket_Details_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CompanyID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
        <outputAssignments>
            <assignToReference>TerminationID</assignToReference>
            <field>BMC_RF_Termination_Form__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_Record</name>
        <label>Find User Record</label>
        <locationX>290</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ADDomainUser__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CompanyID</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ManagerID</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_Record_0</name>
        <label>Find User Record</label>
        <locationX>480</locationX>
        <locationY>869</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ADDomainUser__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CompanyID</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ManagerID</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_Record_0_0</name>
        <label>Find User Record</label>
        <locationX>676</locationX>
        <locationY>1246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ADDomainUser__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CompanyID</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ManagerID</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_Record_0_0_0</name>
        <label>Find User Record</label>
        <locationX>395</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ADDomainUser__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CompanyID</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Manager</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ticket_Details</name>
        <label>Update Ticket Details New Hire</label>
        <locationX>1853</locationX>
        <locationY>435</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__Client_Manager__c</field>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKClient__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKRequestDefinition__c</field>
            <value>
                <elementReference>NewHireID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <stringValue>a48D000000000n3IAA</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ticket_Details_0</name>
        <label>Update Ticket Details (Termination)</label>
        <locationX>1852</locationX>
        <locationY>620</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__Client_Manager__c</field>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKClient__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKRequestDefinition__c</field>
            <value>
                <elementReference>TerminationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <stringValue>a48D000000000n3IAA</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ticket_to_Opened</name>
        <label>Update Ticket to Opened</label>
        <locationX>1855</locationX>
        <locationY>1164</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <stringValue>a48D000000000mYIAQ</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_User_Record_0_0_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Manager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewHireID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerminationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Confirm_AD_SF_Sync_1</name>
        <label>Confirm AD-SF Sync</label>
        <locationX>287</locationX>
        <locationY>430</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_24_Hours_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Find_User_Record</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Wait 24 Hours</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Confirm_AD_SF_Sync_2</name>
        <label>Confirm AD-SF Sync</label>
        <locationX>477</locationX>
        <locationY>670</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_48_Hours_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Find_User_Record_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Wait 48 Hours</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Confirm_AD_SF_Sync_3</name>
        <label>Confirm AD-SF Sync</label>
        <locationX>672</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_72_Hours</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Find_User_Record_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Wait 72 Hours</label>
        </waitEvents>
    </waits>
</Flow>
