flows/BMC_RF_Incident_Update_Email_Notification_Users_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Company_Available</name>
        <label>Is Company Available?</label>
        <locationX>143</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Company_Information_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Notificaiton_Users_to_Incident</targetReference>
            </connector>
            <label>Company Information Available</label>
        </rules>
        <rules>
            <name>Company_Information_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Regional_Email_Notification_Users</targetReference>
            </connector>
            <label>Company Information Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Region_Available</name>
        <label>Is Region Available?</label>
        <locationX>146</locationX>
        <locationY>470</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Region_Information_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Notificaiton_Users_to_Incident</targetReference>
            </connector>
            <label>Region Information Available</label>
        </rules>
        <rules>
            <name>Region_Information_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Global_Email_Notification_Users</targetReference>
            </connector>
            <label>Region Information Not Available</label>
        </rules>
    </decisions>
    <interviewLabel>BMC_RF_Incident Update Email Notification Users Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Incident Update Email Notification Users Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Global_Email_Notification_Users</name>
        <label>Find: Global Email Notification Users</label>
        <locationX>145</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Email_Notificaiton_Users_to_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>EmailNotificationDL</assignToReference>
            <field>BMC_RF_Email_Notification_Distribution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationQueue</assignToReference>
            <field>BMC_RF_Email_Notification_Queue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationUserII</assignToReference>
            <field>BMC_RF_Email_Notification_User_II__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationUserI</assignToReference>
            <field>BMC_RF_Email_Notification_User_I__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Local_Email_Notification_Users</name>
        <label>Find: Local Email Notification Users</label>
        <locationX>140</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Company_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Affiliate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientAffiliate</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>EmailNotificationDL</assignToReference>
            <field>BMC_RF_Email_Notification_Distribution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationQueue</assignToReference>
            <field>BMC_RF_Email_Notification_Queue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationUserII</assignToReference>
            <field>BMC_RF_Email_Notification_User_II__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationUserI</assignToReference>
            <field>BMC_RF_Email_Notification_User_I__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NotificationCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Regional_Email_Notification_Users</name>
        <label>Find: Regional Email Notification Users</label>
        <locationX>145</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Region_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientRegion</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>EmailNotificationDL</assignToReference>
            <field>BMC_RF_Email_Notification_Distribution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationQueue</assignToReference>
            <field>BMC_RF_Email_Notification_Queue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationUserII</assignToReference>
            <field>BMC_RF_Email_Notification_User_II__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailNotificationUserI</assignToReference>
            <field>BMC_RF_Email_Notification_User_I__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NotificationCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Email_Notificaiton_Users_to_Incident</name>
        <label>Add Email Notificaiton Users to Incident</label>
        <locationX>733</locationX>
        <locationY>321</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Email_Notification_Distribution__c</field>
            <value>
                <elementReference>EmailNotificationDL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Email_Notification_Queue__c</field>
            <value>
                <elementReference>EmailNotificationQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Email_Notification_User_II__c</field>
            <value>
                <elementReference>EmailNotificationUserII</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Email_Notification_User_I__c</field>
            <value>
                <elementReference>EmailNotificationUserI</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <startElementReference>Find_Local_Email_Notification_Users</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApplicationBusinessOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApproverCategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientAffiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailNotificationDL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailNotificationQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailNotificationUserI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailNotificationUserII</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ITServiceManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationCategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
