flows/BMC_RF_Incident_Update_New_Hire_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>PRTRA</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Position Type&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of S1&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - FIND(&quot;Position Type&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_9899315797</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Position Type&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of S1&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - FIND(&quot;Position Type&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;No Equipment Required&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of NH&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;No Equipment Required&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) 

+

MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;Email Groups&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_0155402501</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;No Equipment Required&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of NH&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;No Equipment Required&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
) 

+

MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;Email Groups&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Auto Program&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of AP&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Auto Program&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_9_A1_8108808873</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Auto Program&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of AP&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Auto Program&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Credit Card Requirements&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of CC&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Credit Card Requirements&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)

+

MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Concur: true&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;DR Pros&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Concur: true&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) 

+

MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Does this employee have direct reports?&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of DR&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Does this employee have direct reports?&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_9_A1_3037080288</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Credit Card Requirements&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of CC&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Credit Card Requirements&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)

+

MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Concur: true&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;DR Pros&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Concur: true&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
) 

+

MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Does this employee have direct reports?&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of DR&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Does this employee have direct reports?&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;Email Groups&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_9_A1_7049553643</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;Email Groups&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Auto Program&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of AP&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Auto Program&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4015619064</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Auto Program&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of AP&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Auto Program&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;No Equipment Required&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of NH&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;No Equipment Required&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) 

+

MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;Email Groups&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9051064532</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;No Equipment Required&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of NH&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;No Equipment Required&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
) 

+

MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;Email Groups&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Credit Card Requirements&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of CC&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Credit Card Requirements&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)

+

MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Concur: true&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;CRM&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Concur: true&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) 

+

MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Does this employee have direct reports?&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of DR&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Does this employee have direct reports?&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_3277714183</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Credit Card Requirements&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of CC&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Credit Card Requirements&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)

+

MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Concur: true&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;CRM&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Concur: true&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
) 

+

MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Does this employee have direct reports?&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of DR&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Does this employee have direct reports?&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Position Type&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of S1&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - FIND(&quot;Position Type&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_9687488050</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Position Type&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of S1&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - FIND(&quot;Position Type&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;No Building Access Changes&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;End of BA&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;No Building Access Changes&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_5425603692</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;No Building Access Changes&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;End of BA&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;No Building Access Changes&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MID(
[BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c), 
FIND(&quot;Email Groups&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 
FIND(&quot;Like User Available&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c) - 1
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_8102900630</name>
        <dataType>String</dataType>
        <expression>MID(
{!myVariable_current.BMCServiceDesk__incidentDescription__c}, 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}), 
FIND(&quot;Email Groups&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 
FIND(&quot;Like User Available&quot;, {!myVariable_current.BMCServiceDesk__incidentDescription__c}) - 1
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW())
&amp;&amp; ISCHANGED([BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c)
&amp;&amp; ISPICKVAL([BMCServiceDesk__Incident__c].BMC_RF_IT_Team__c, &quot;PR New Hire&quot;)
&amp;&amp; CONTAINS ([BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, &quot;Country: Canada&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW())
&amp;&amp; ISCHANGED({!myVariable_current.BMCServiceDesk__incidentDescription__c})
&amp;&amp; ISPICKVAL({!myVariable_current.BMC_RF_IT_Team__c}, &quot;PR New Hire&quot;)
&amp;&amp; CONTAINS ({!myVariable_current.BMCServiceDesk__incidentDescription__c}, &quot;Country: Canada&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW())
&amp;&amp; ISCHANGED([BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c)
&amp;&amp; ISPICKVAL([BMCServiceDesk__Incident__c].BMC_RF_IT_Team__c, &quot;PR New Hire&quot;)
&amp;&amp; CONTAINS ([BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, &quot;Country: Canada&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW())
&amp;&amp; ISCHANGED({!myVariable_old.BMCServiceDesk__incidentDescription__c})
&amp;&amp; ISPICKVAL({!myVariable_old.BMC_RF_IT_Team__c}, &quot;PR New Hire&quot;)
&amp;&amp; CONTAINS ({!myVariable_old.BMCServiceDesk__incidentDescription__c}, &quot;Country: Canada&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW())
&amp;&amp; ISCHANGED([BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c)
&amp;&amp; ISPICKVAL([BMCServiceDesk__Incident__c].BMC_RF_IT_Team__c, &quot;PR New Hire&quot;)
&amp;&amp; CONTAINS ([BMCServiceDesk__Incident__c].BMCServiceDesk__incidentDescription__c, &quot;Company Name: Pernod Ricard Travel Retail Americas&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW())
&amp;&amp; ISCHANGED({!myVariable_current.BMCServiceDesk__incidentDescription__c})
&amp;&amp; ISPICKVAL({!myVariable_current.BMC_RF_IT_Team__c}, &quot;PR New Hire&quot;)
&amp;&amp; CONTAINS ({!myVariable_current.BMCServiceDesk__incidentDescription__c}, &quot;Company Name: Pernod Ricard Travel Retail Americas&quot;)</expression>
    </formulas>
    <interviewLabel>BMC_RF_Incident_Update_New_Hire_Update-9_InterviewLabel</interviewLabel>
    <label>BMC_RF_Incident Update New Hire Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BMCServiceDesk__Incident__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Incident Text Fields</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text III</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_III__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_4015619064</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text II</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_II__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9051064532</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text IV</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_IV__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_3277714183</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text I</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_I__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_9687488050</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text VI</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_VI__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_5425603692</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text V</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_V__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_8102900630</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Update Incident Text Fields</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text III</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_III__c</field>
            <value>
                <elementReference>formula_12_myRule_9_A1_8108808873</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text II</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_II__c</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_0155402501</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text IV</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_IV__c</field>
            <value>
                <elementReference>formula_13_myRule_9_A1_3037080288</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text I</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_I__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_9899315797</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text V</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Text_V__c</field>
            <value>
                <elementReference>formula_14_myRule_9_A1_7049553643</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
