flows/BMC_RF_Incident_Resolution_Task_Validation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Open_Tasks</name>
        <label>Open Tasks?</label>
        <locationX>405</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident_Has_Open_Tasks_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inicident_has_Open_Tasks</targetReference>
            </connector>
            <label>Incident has Open Tasks</label>
        </rules>
        <rules>
            <name>Incident_does_not_have_Open_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inicident_has_Open_Tasks_0</targetReference>
            </connector>
            <label>Incident does not have Open Tasks</label>
        </rules>
    </decisions>
    <interviewLabel>BMC_RF_Incident Resolution Task Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Incident Resolution Task Validation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Open_Tasks</name>
        <label>Find Open Tasks</label>
        <locationX>244</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKIncident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMCServiceDesk__state__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BMCServiceDesk__Task__c</object>
        <outputAssignments>
            <assignToReference>OpenTaskID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inicident_has_Open_Tasks</name>
        <label>Update Incident has Open Tasks</label>
        <locationX>614</locationX>
        <locationY>94</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__FKStatus__c</field>
            <value>
                <elementReference>StatusID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Incident_Has_Open_Tasks__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inicident_has_Open_Tasks_0</name>
        <label>Update Incident has Open Tasks</label>
        <locationX>604</locationX>
        <locationY>331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Incident_Has_Open_Tasks__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Open_Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
