flows/BMC_RF_Change_Request_Update_Approvers_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Company_Available</name>
        <label>Is Company Available?</label>
        <locationX>143</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Company_Information_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Company_Approvers_to_Change_Request</targetReference>
            </connector>
            <label>Company Information Available</label>
        </rules>
        <rules>
            <name>Company_Information_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Region_Approvers</targetReference>
            </connector>
            <label>Company Information Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Region_Available</name>
        <label>Is Region Available?</label>
        <locationX>147</locationX>
        <locationY>470</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Region_Information_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Company_Approvers_to_Change_Request</targetReference>
            </connector>
            <label>Region Information Available</label>
        </rules>
        <rules>
            <name>Region_Information_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Global_Approvers</targetReference>
            </connector>
            <label>Region Information Not Available</label>
        </rules>
    </decisions>
    <interviewLabel>BMC_RF_Change Request Update Approvers Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Change Request Update Approvers Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Company_Approvers</name>
        <label>Find: Company Approvers</label>
        <locationX>140</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Company_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Affiliate_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ClientAffiliate</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>ApplicationBusinessOwner</assignToReference>
            <field>BMC_RF_Application_Business_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ITServiceManager</assignToReference>
            <field>BMC_RF_IT_Service_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApproverCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Global_Approvers</name>
        <label>Find: Global Approvers</label>
        <locationX>145</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Company_Approvers_to_Change_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>ApplicationBusinessOwner</assignToReference>
            <field>BMC_RF_Application_Business_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ITServiceManager</assignToReference>
            <field>BMC_RF_IT_Service_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Region_Approvers</name>
        <label>Find: Region Approvers</label>
        <locationX>145</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Region_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Region_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ClientRegion</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>ApplicationBusinessOwner</assignToReference>
            <field>BMC_RF_Application_Business_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ITServiceManager</assignToReference>
            <field>BMC_RF_IT_Service_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApproverCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Company_Approvers_to_Change_Request</name>
        <label>Add Company Approvers to Change Request</label>
        <locationX>733</locationX>
        <locationY>321</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Application_Business_Owner__c</field>
            <value>
                <elementReference>ApplicationBusinessOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_IT_Service_Manager_I__c</field>
            <value>
                <elementReference>ITServiceManager</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Change_Request__c</object>
    </recordUpdates>
    <startElementReference>Find_Company_Approvers</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApplicationBusinessOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApproverCategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientAffiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ITServiceManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
