flows/BMC_RF_Problem_Update_Related_Incidents_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>ClosureCategoryList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incident_Closure_Category__c</picklistField>
        <picklistObject>BMCServiceDesk__Problem__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>BMC_RF_Problem Update Related Incidents Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Problem Update Related Incidents Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Activate_Incident_Resolution_Workflow</name>
        <label>Activate Incident Resolution Workflow</label>
        <locationX>94</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Activate_Incident_Update_Workflow_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProblemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Incident_Email_Update__c</field>
            <value>
                <elementReference>Incident_Update_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Update_Related_Incidents__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Problem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Activate_Incident_Update_Workflow_0</name>
        <label>Activate Incident Update Workflow</label>
        <locationX>334</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Incidents_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProblemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Update_Related_Incidents__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Problem__c</object>
    </recordUpdates>
    <screens>
        <name>Incidents_Updated</name>
        <label>Incidents Updated</label>
        <locationX>473</locationX>
        <locationY>241</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IncidentUpdateComplete</name>
            <fieldText>&lt;p&gt;Thank you for submitting an update for all related Incidents for this Problem record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Incident records have been updated and the users have been notified.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To continue, please close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Related_Incidents</name>
        <label>Update Related Incidents</label>
        <locationX>214</locationX>
        <locationY>117</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Activate_Incident_Resolution_Workflow</targetReference>
        </connector>
        <fields>
            <name>IncidentUpdateInformation</name>
            <fieldText>&lt;p&gt;Please provide the details for the Incident Update below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incident_Update_Details</name>
            <fieldText>Incident Update Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Update_Related_Incidents</startElementReference>
    <status>Active</status>
    <variables>
        <name>IncidentProblemLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Incident_Problem_Link__c</objectType>
    </variables>
    <variables>
        <name>ProblemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
