flows/BMC_RF_Demand_Create_and_Link_Service_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>BMC_RF_Demand Create and Link Service Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Demand Create and Link Service Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create Incident</label>
        <locationX>185</locationX>
        <locationY>303</locationY>
        <inputAssignments>
            <field>BMCServiceDesk__FKCategory__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKClient__c</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKImpact__c</field>
            <value>
                <elementReference>Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKIncident__c</field>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKOpenBy__c</field>
            <value>
                <elementReference>Staff</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKUrgency__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__IncidentType__c</field>
            <value>
                <elementReference>IncidentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__contactType__c</field>
            <value>
                <elementReference>IncidentSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__incidentDescription__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Incident_Details</name>
        <label>Get Incident Details</label>
        <locationX>118</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Incident__c</object>
        <outputAssignments>
            <assignToReference>Category</assignToReference>
            <field>BMCServiceDesk__FKCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>BMCServiceDesk__FKClient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Impact</assignToReference>
            <field>BMCServiceDesk__FKImpact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Staff</assignToReference>
            <field>BMCServiceDesk__FKOpenBy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Urgency</assignToReference>
            <field>BMCServiceDesk__FKUrgency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentType</assignToReference>
            <field>BMCServiceDesk__IncidentType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncidentSource</assignToReference>
            <field>BMCServiceDesk__contactType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <field>BMCServiceDesk__incidentDescription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Queue</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Summary</assignToReference>
            <field>Summary__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Incident_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Impact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Resolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Staff</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Urgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
