flows/BMC_RF_Incident_Escalation_to_Problem_Major_Incident_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ReportaMajorIncident</name>
        <choiceText>Report a Major Incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Major Incident</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportaProblem</name>
        <choiceText>Report a Problem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problem</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approvers_Available_for_Major_Incident_Verification</name>
        <label>Approvers Available for Major Incident Verification</label>
        <locationX>819</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Update_Major_Incident_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Approvers_Available_for_Major_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ITServiceManagerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProblemMajorIncidentManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Auto_Approval_0</targetReference>
            </connector>
            <label>No Approvers Available for Major Incident</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approvers_Available_for_Problem_Verification</name>
        <label>Approvers Available for Problem Verification</label>
        <locationX>832</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Update_Problem_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Approvers_Available_for_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ITServiceManagerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProblemMajorIncidentManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Auto_Approval</targetReference>
            </connector>
            <label>No Approvers Available for Problem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Approvers_Available</name>
        <label>Company Approvers Available</label>
        <locationX>321</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_Approver_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_or_Major_Incident</targetReference>
            </connector>
            <label>Company Approver Available</label>
        </rules>
        <rules>
            <name>No_Company_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Company_Approvers_0</targetReference>
            </connector>
            <label>No Company Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Approvers_Available_0</name>
        <label>Regional Approver Available</label>
        <locationX>317</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Regional_Approver_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_or_Major_Incident</targetReference>
            </connector>
            <label>Regional Approver Available</label>
        </rules>
        <rules>
            <name>No_Regional_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverCategoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Company_Approvers_0_0</targetReference>
            </connector>
            <label>No Regional Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Problem_or_Major_Incident</name>
        <label>Problem or Major Incident</label>
        <locationX>673</locationX>
        <locationY>552</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Based_on_the_above_definitions_what_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReportaProblem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approvers_Available_for_Problem_Verification</targetReference>
            </connector>
            <label>Problem</label>
        </rules>
        <rules>
            <name>Major_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Based_on_the_above_definitions_what_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReportaMajorIncident</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approvers_Available_for_Major_Incident_Verification</targetReference>
            </connector>
            <label>Major Incident</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>BMC_RF_Incident Escalation to Problem / Major Incident Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMC_RF_Incident Escalation to Problem / Major Incident Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Incident_Problem_Link</name>
        <label>Create Incident Problem Link</label>
        <locationX>1335</locationX>
        <locationY>449</locationY>
        <connector>
            <targetReference>Submission_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKIncident__c</field>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKProblem__c</field>
            <value>
                <elementReference>ProblemID</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident_Problem_Link__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Major_Incident</name>
        <label>Create Major Incident</label>
        <locationX>1139</locationX>
        <locationY>545</locationY>
        <assignRecordIdToReference>ProblemID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Incident_Problem_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>BMC_RF_Major_Incident__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Problem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Problem</name>
        <label>Create Problem</label>
        <locationX>1139</locationX>
        <locationY>377</locationY>
        <assignRecordIdToReference>ProblemID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Incident_Problem_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>BMC_RF_Major_Incident__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Problem__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Company_Approvers</name>
        <label>Find Company Approvers</label>
        <locationX>228</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Approvers_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Affiliate_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ClientAffiliate</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>ITServiceManagerID</assignToReference>
            <field>BMC_RF_IT_Service_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProblemMajorIncidentManager</assignToReference>
            <field>BMC_RF_Problem_Major_Incident_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApproverCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Company_Approvers_0</name>
        <label>Find Regional Approvers</label>
        <locationX>221</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Approvers_Available_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMCServiceDesk__FKParentCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMC_RF_Region_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ClientAffiliate</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>ITServiceManagerID</assignToReference>
            <field>BMC_RF_IT_Service_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProblemMajorIncidentManager</assignToReference>
            <field>BMC_RF_Problem_Major_Incident_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApproverCategoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Company_Approvers_0_0</name>
        <label>Find Global Approvers</label>
        <locationX>227</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Problem_or_Major_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoryID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Category__c</object>
        <outputAssignments>
            <assignToReference>ITServiceManagerID</assignToReference>
            <field>BMC_RF_IT_Service_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProblemMajorIncidentManager</assignToReference>
            <field>BMC_RF_Problem_Major_Incident_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Problem_Auto_Approval</name>
        <label>Problem Auto-Approval</label>
        <locationX>997</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Create_Problem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Problem_Status__c</field>
            <value>
                <stringValue>Auto-Approved</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Problem_Auto_Approval_0</name>
        <label>Major Incident Auto-Approval</label>
        <locationX>979</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Create_Major_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Major_Incident_Status__c</field>
            <value>
                <stringValue>Auto-Approved</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Major_Incident_Details</name>
        <label>Update Major Incident Details</label>
        <locationX>1257</locationX>
        <locationY>748</locationY>
        <connector>
            <targetReference>Submission_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Approver_II__c</field>
            <value>
                <elementReference>ProblemMajorIncidentManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approver_I__c</field>
            <value>
                <elementReference>ITServiceManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Major_Incident_Escalation_Sub_By__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Major_Incident_Justification__c</field>
            <value>
                <elementReference>Justification_Reasoning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Major_Incident_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Problem_Details</name>
        <label>Update Problem Details</label>
        <locationX>997</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Submission_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Approver_II__c</field>
            <value>
                <elementReference>ProblemMajorIncidentManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Approver_I__c</field>
            <value>
                <elementReference>ITServiceManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Problem_Escalation_Submitted_By__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Problem_Justification__c</field>
            <value>
                <elementReference>Justification_Reasoning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMC_RF_Problem_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <screens>
        <name>Escalate_to_Problem_or_Major_Incident</name>
        <label>Escalate to Problem or Major Incident</label>
        <locationX>112</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Company_Approvers</targetReference>
        </connector>
        <fields>
            <name>Definitions</name>
            <fieldText>&lt;p&gt;From the SOP:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A &lt;b&gt;Problem &lt;/b&gt;is the cause of one or more incidents.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A &lt;b&gt;Major Incident&lt;/b&gt; is is defined as any event which has significant impact or urgency for the business/organisation and which demands a response beyond the routine incident management process. A major incident is aligned with an unplanned / unscheduled outage, disruption of business services or loss of integrity typically involving but not limited to a Tier 1 application and critical IT infrastructure lasting more than 30 minutes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Based_on_the_above_definitions_what_would_you_like_to_do</name>
            <choiceReferences>ReportaProblem</choiceReferences>
            <choiceReferences>ReportaMajorIncident</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Based on the definitions provided, what would you like to do...</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Justification_Reasoning</name>
            <fieldText>Justification / Reasoning</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submission_Complete</name>
        <label>Submission Complete</label>
        <locationX>1525</locationX>
        <locationY>354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmissionSuccessful</name>
            <fieldText>&lt;p&gt;Thank you for submitting your request to {!Based_on_the_above_definitions_what_would_you_like_to_do}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your request will be reviewed, and if approved, the requested record will be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Escalate_to_Problem_or_Major_Incident</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApproverCategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CategoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientAffiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ITServiceManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProblemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProblemMajorIncidentManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
