flows/EUR_TR_AnnouncementTargets.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendPushToAudience</name>
        <label>SendPushToAudience</label>
        <locationX>1378</locationX>
        <locationY>568</locationY>
        <actionName>EUR_TR_PushNotificationController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>announcementIds</name>
            <value>
                <elementReference>GetAnnouncementFoundRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddSingleItemIntoCollection</name>
        <label>AddSingleItemIntoCollection</label>
        <locationX>946</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>RecordsToBeSaved</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordToBeSavedSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverFoundUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetValuesToSingleItem</name>
        <label>SetValuesToSingleItem</label>
        <locationX>764</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>RecordToBeSavedSingle.EUR_TR_IsRead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToBeSavedSingle.EUR_TR_RelatedAnnouncement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAnnouncementFoundRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToBeSavedSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundUserSingleItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToBeSavedSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeForTargetFound.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddSingleItemIntoCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AudienceType</name>
        <label>AudienceType</label>
        <locationX>382</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAnnouncementFoundRecord.EUR_TR_AnnouncementAudience__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEUR_TR_RoleId</targetReference>
            </connector>
            <label>IsAll</label>
        </rules>
        <rules>
            <name>IsAreaManagers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAnnouncementFoundRecord.EUR_TR_AnnouncementAudience__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AreaManager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAreaManagerRoleId</targetReference>
            </connector>
            <label>IsAreaManagers</label>
        </rules>
        <rules>
            <name>IsSalesChiefs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAnnouncementFoundRecord.EUR_TR_AnnouncementAudience__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesChief</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSalesChiefRoleId</targetReference>
            </connector>
            <label>IsSalesChiefs</label>
        </rules>
    </decisions>
    <description>Responsible to create announcement audience records</description>
    <interviewLabel>EUR_TR_AnnouncementTargets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EUR_TR_AnnouncementTargets</label>
    <loops>
        <name>IterateOverFoundUsers</name>
        <label>IterateOverFoundUsers</label>
        <locationX>750</locationX>
        <locationY>705</locationY>
        <assignNextValueToReference>FoundUserSingleItem</assignNextValueToReference>
        <collectionReference>FoundUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetValuesToSingleItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRecords</name>
        <label>CreateRecords</label>
        <locationX>1369</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>SendPushToAudience</targetReference>
        </connector>
        <inputReference>RecordsToBeSaved</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAnnouncement</name>
        <label>GetAnnouncement</label>
        <locationX>396</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AudienceType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EUR_TR_AnnouncementId</elementReference>
            </value>
        </filters>
        <object>EUR_TR_Announcement__c</object>
        <outputReference>GetAnnouncementFoundRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EUR_TR_AnnouncementType__c</queriedFields>
        <queriedFields>EUR_TR_AnnouncementAudience__c</queriedFields>
        <queriedFields>EUR_TR_AnnouncementText__c</queriedFields>
        <queriedFields>EUR_TR_AnnouncementURL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAreaManagerRoleId</name>
        <label>GetAreaManagerRoleId</label>
        <locationX>202</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUsersByRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR_AreaManagers</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>AreaManagerRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEUR_TR_AreaManagersRoleId</name>
        <label>GetEUR_TR_AreaManagersRoleId</label>
        <locationX>836</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEUR_TR_SalesChiefsRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR_AreaManagers</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>EUR_TR_AreaManagerRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEUR_TR_RoleId</name>
        <label>GetEUR_TR_RoleId</label>
        <locationX>660</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEUR_TR_TopExRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>EUR_TR_RoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEUR_TR_SalesChiefsRoleId</name>
        <label>GetEUR_TR_SalesChiefsRoleId</label>
        <locationX>657</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUsersByAllRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR_SalesChiefs</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>EUR_TR_SalesChiefRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEUR_TR_TopExRoleId</name>
        <label>GetEUR_TR_TopExRoleId</label>
        <locationX>839</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEUR_TR_AreaManagersRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR_TopEx</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>EUR_TR_TopExRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeForTarget</name>
        <label>GetRecordTypeForTarget</label>
        <locationX>413</locationX>
        <locationY>728</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverFoundUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR_AnnouncementTarget</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR_Announcement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeForTargetFound</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSalesChiefRoleId</name>
        <label>GetSalesChiefRoleId</label>
        <locationX>397</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSalesChiefUsersByRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR_TR_SalesChiefs</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>SalesChiefRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSalesChiefUsersByRoleId</name>
        <label>GetSalesChiefUsersByRoleId</label>
        <locationX>398</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeForTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesChiefRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>FoundUsers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUsersByAllRoles</name>
        <label>GetUsersByAllRoles</label>
        <locationX>613</locationX>
        <locationY>574</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeForTarget</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EUR_TR_RoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EUR_TR_AreaManagerRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EUR_TR_SalesChiefRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EUR_TR_TopExRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>FoundUsers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUsersByRoleId</name>
        <label>GetAreaManagerUsersByRoleId</label>
        <locationX>203</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeForTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AreaManagerRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>FoundUsers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>GetAnnouncement</startElementReference>
    <status>Active</status>
    <variables>
        <name>AreaManagerRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EUR_TR_AnnouncementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EUR_TR_AreaManagerRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EUR_TR_RoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EUR_TR_SalesChiefRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EUR_TR_TopExRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FoundUserSingleItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>GetAnnouncementFoundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EUR_TR_Announcement__c</objectType>
    </variables>
    <variables>
        <name>RecordsToBeSaved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EUR_TR_Announcement__c</objectType>
    </variables>
    <variables>
        <name>RecordToBeSavedSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EUR_TR_Announcement__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeForTargetFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SalesChiefRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
