flows/GRP_CC_Deep_Dive_Scr_8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_Ecran_8</name>
        <label>Attribution Ecran 8</label>
        <locationX>756</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_Q8_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_Q8_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_Q8_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_Q8_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_Q8_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_R8_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr8.GRP_CC_Q8_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q07</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Deep_Dive_Scr_8</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>current_R8_5</name>
        <choiceText>{!default_R8_5}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R8_5</elementReference>
        </value>
    </choices>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>next</stringValue>
        </value>
    </choices>
    <constants>
        <name>Q01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Does the venue have a dedicated profile and presence on the following platforms:</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are logos/profile image consistent across all social media channels?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is the profile name the same on Facebook/Instagram/Twitter?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Does the venue track competitors on social media?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q05</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Who updates social media channels?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q06</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are there weekly/monthly meetings to review social media feedback from guests?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q07</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please add any additional infomration related to the Digital - General to help complete a comprehensive report.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_A</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_B</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Facebook</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_C</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Instagram</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_D</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Twitter</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_E</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yelp</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_F</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Google Maps</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_G</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Apple Maps</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08_H</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trip Advisor</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>list_R8_1_Dynamic</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_R8_1__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_R8_5_Dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R8_5</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R8_5</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr8.GRP_CC_R8_5__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>screens</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_list_etape__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>default_R8_5</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr8.GRP_CC_R8_5__c})), &apos;Select a value &apos;, TEXT({!oDeepDiveScr8.GRP_CC_R8_5__c}))</expression>
    </formulas>
    <formulas>
        <name>label_R8_5</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R8_5_dynamic_EntityParticleId}</expression>
    </formulas>
    <interviewLabel>GRP CC Deep Dive Scr_8 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP CC Deep Dive Scr_8</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deep_Dive_Scr_8_info</name>
        <label>Get Deep Dive Scr 8 info</label>
        <locationX>328</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Layout_Space</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GRP_CC_Deep_dive__c</object>
        <outputReference>oDeepDiveScr8</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GRP_CC_R8_2__c</queriedFields>
        <queriedFields>GRP_CC_R8_3__c</queriedFields>
        <queriedFields>GRP_CC_R8_4__c</queriedFields>
        <queriedFields>GRP_CC_R8_6__c</queriedFields>
        <queriedFields>GRP_CC_R8_5__c</queriedFields>
        <queriedFields>GRP_CC_R8_1A__c</queriedFields>
        <queriedFields>GRP_CC_R8_1B__c</queriedFields>
        <queriedFields>GRP_CC_R8_1C__c</queriedFields>
        <queriedFields>GRP_CC_R8_1D__c</queriedFields>
        <queriedFields>GRP_CC_R8_1F__c</queriedFields>
        <queriedFields>GRP_CC_R8_1G__c</queriedFields>
        <queriedFields>GRP_CC_R8_1H__c</queriedFields>
        <queriedFields>GRP_CC_R8_1E__c</queriedFields>
        <queriedFields>GRP_CC_Chain_Account__c</queriedFields>
        <queriedFields>GRP_CC_R8_7__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Deep_Dive_Scr_8</name>
        <label>Save Deep Dive Scr 8</label>
        <locationX>967</locationX>
        <locationY>50</locationY>
        <inputReference>oDeepDiveScr8</inputReference>
    </recordUpdates>
    <screens>
        <name>Layout_Space</name>
        <label>Ecran_8</label>
        <locationX>561</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Ecran_8</targetReference>
        </connector>
        <fields>
            <name>header_section</name>
            <extensionName>c:GRP_CC_flow_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>sous_titre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlImage</name>
                <value>
                    <elementReference>image</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://pernod-ricard--holsb4dev.lightning.force.com/{!oDeepDiveScr8.GRP_CC_Chain_Account__c}&quot; target=&quot;_blank&quot;&gt;Back to the Chain Account&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1</name>
            <fieldText>&lt;p&gt;{!Q01}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_8_1_A</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_A</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1A__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1A__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1A__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_B</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_B</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1B__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1B__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1B__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_C</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_C</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1C__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1C__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1C__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_D</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_D</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1D__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1D__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1D__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_E</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_E</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1E__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1E__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1E__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_F</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_F</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1F__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1F__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1F__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_G</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_G</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1G__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1G__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1G__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_H</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08_H</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_1H__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_1H__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_1H__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_02</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q02</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_2__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_2__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_03</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q03</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_3__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_3__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_04</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q04</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_4__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_4__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_4__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_5_8</name>
            <choiceReferences>current_R8_5</choiceReferences>
            <choiceReferences>list_R8_5_Dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R8_5</defaultSelectedChoiceReference>
            <fieldText>{!Q05}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_06</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q06</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr8.GRP_CC_R8_6__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_R8_6__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr8.GRP_CC_Q8_6__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_7</name>
            <defaultValue>
                <stringValue>{!oDeepDiveScr8.GRP_CC_R8_7__c}</stringValue>
            </defaultValue>
            <fieldText>{!Q07}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Go_to</name>
            <choiceReferences>Next</choiceReferences>
            <choiceReferences>screens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Next</defaultSelectedChoiceReference>
            <fieldText>Go to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Deep_Dive_Scr_8_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Digital - General</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatimage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listFichierUpload</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oDeepDiveScr8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Deep_dive__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sous_titre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
