flows/GRP_CC_Collect_Update_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>customNotifTypeName</name>
            <value>
                <stringValue>GRP_CC_Collect_Update</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>recipientCategory</name>
            <value>
                <stringValue>user</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>recipientType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send notification to PRR</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>000000000000000</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeName</name>
            <value>
                <stringValue>GRP_CC_Collect_Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!myVariable_current.GRP_CC_ChainAccount__r.Name} - Collect to be approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The period from {!myVariable_current.GRP_CC_PeriodStart__c} to {!myVariable_current.GRP_CC_PeriodEnd__c} has been closed. As you are the collect responsible, you need to check data and change the collect status as per you approve or not the input.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!myVariable_current.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recipientIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>recipientIds</name>
            <value>
                <elementReference>myCollection_myRule_1_A1recipientIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myAssignment_myRule_1_A1</name>
        <label>myAssignment_myRule_1_A1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myCollection_myRule_1_A1recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>myVariable_current.GRP_CC_ChainAccount__r.GRP_CC_PRResponsible__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myAssignment_myRule_1_A1</targetReference>
            </connector>
            <label>PAD + Update of Status to Waiting for approval and Collect Info = Volumes</label>
        </rules>
    </decisions>
    <description>CCS-5106 Salesforce In-App Notification</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_0534231025</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
   ($Setup.GRP_CC_PAD__c.GRP_CC_WF_ALL__c = &apos;ON&apos;) /* Global PAD bypass */
   ,($Setup.GRP_CC_PAD__c.GRP_CC_Collects_In_App_Notification__c = &apos;ON&apos;) /* Process Builder Bypass */
   ,($Setup.GRP_CC_PAD__c.GRP_CC_Collects_EMEA_In_App_Notification__c = &apos;ON&apos;) /* Process Builder Step Bypass */
   ,[GRP_CC_Collect__c].GRP_CC_ChainAccount__r.GRP_CC_Region__r.Name = &apos;EMEA&apos;
   ,OR(
     ISCHANGED([GRP_CC_Collect__c].GRP_CC_Status__c)
     ,ISCHANGED([GRP_CC_Collect__c].GRP_CC_Collect_info__c)
   )
   ,AND(
     (TEXT([GRP_CC_Collect__c].GRP_CC_Collect_info__c) = &quot;Volumes&quot;)
     ,(TEXT([GRP_CC_Collect__c].GRP_CC_Status__c) = &quot;Waiting for approval&quot;)
   )
   ,([GRP_CC_Collect__c].GRP_CC_ChainAccount__r.GRP_CC_PRResponsible__r.IsActive = True)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
   ({!$Setup.GRP_CC_PAD__c.GRP_CC_WF_ALL__c} = &apos;ON&apos;) /* Global PAD bypass */
   ,({!$Setup.GRP_CC_PAD__c.GRP_CC_Collects_In_App_Notification__c} = &apos;ON&apos;) /* Process Builder Bypass */
   ,({!$Setup.GRP_CC_PAD__c.GRP_CC_Collects_EMEA_In_App_Notification__c} = &apos;ON&apos;) /* Process Builder Step Bypass */
   ,{!myVariable_current.GRP_CC_ChainAccount__r.GRP_CC_Region__r.Name} = &apos;EMEA&apos;
   ,OR(
     ISCHANGED({!myVariable_current.GRP_CC_Status__c})
     ,ISCHANGED({!myVariable_current.GRP_CC_Collect_info__c})
   )
   ,AND(
     (TEXT({!myVariable_current.GRP_CC_Collect_info__c}) = &quot;Volumes&quot;)
     ,(TEXT({!myVariable_current.GRP_CC_Status__c}) = &quot;Waiting for approval&quot;)
   )
   ,({!myVariable_current.GRP_CC_ChainAccount__r.GRP_CC_PRResponsible__r.IsActive} = True)
)</expression>
    </formulas>
    <interviewLabel>GRP_CC_Collect_Update_Notification-4_InterviewLabel</interviewLabel>
    <label>GRP_CC_Collect_Update_Notification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>GRP_CC_Collect__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[GRP_CC_Collect__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Notification Date</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Notification Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>GRP_CC_Last_Notification_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_0534231025</elementReference>
            </value>
        </inputAssignments>
        <object>GRP_CC_Collect__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myCollection_myRule_1_A1recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GRP_CC_Collect__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Collect__c</objectType>
    </variables>
</Flow>
