flows/GRP_CC_Deep_Dive_Scr_13_V3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>attribution</name>
        <label>attribution</label>
        <locationX>886</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>NextScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_to</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>next</stringValue>
        </value>
    </choices>
    <constants>
        <name>Q01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many stations are behind the bar ?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a jigger at each  station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a boston shaker at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a mixing gass at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q05</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a hand juicer at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q06</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a mexican elbow at each stations?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q07</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a muddler at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a bar spooon at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q09</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a hawthorne strainer at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q10</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a julep strainer at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q11</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a fine strainer at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q12</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a knife at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q13</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a twist cutter at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q14</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a selection of bitter bottles at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q15</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a grater at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q16</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a tweezers at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q17</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are there drip mats/peanut rail on the bar top?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q18</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a glass rimmer at each station?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q19</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are the glasses placed on mats?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q20</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a selection of chilled glassware in the fridge/freezer?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q21</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a blender in the bar area?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q22</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is regular cubed ice available?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q23</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is crushed ice available?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q24</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is block ice available?</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>screens</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_list_etape__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>GRP CC Deep Dive Scr_13-V3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP CC Deep Dive Scr_13-V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deep_Dive_Scr_13_info</name>
        <label>Get Deep Dive Scr 13 info</label>
        <locationX>272</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compliance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GRP_CC_Deep_dive__c</object>
        <outputReference>oDeepDiveScr13</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GRP_CC_R13_1__c</queriedFields>
        <queriedFields>GRP_CC_R13_2__c</queriedFields>
        <queriedFields>GRP_CC_R13_3__c</queriedFields>
        <queriedFields>GRP_CC_R13_4__c</queriedFields>
        <queriedFields>GRP_CC_R13_5__c</queriedFields>
        <queriedFields>GRP_CC_R13_6__c</queriedFields>
        <queriedFields>GRP_CC_R13_7__c</queriedFields>
        <queriedFields>GRP_CC_R13_8__c</queriedFields>
        <queriedFields>GRP_CC_R13_9__c</queriedFields>
        <queriedFields>GRP_CC_R13_10__c</queriedFields>
        <queriedFields>GRP_CC_R13_11__c</queriedFields>
        <queriedFields>GRP_CC_R13_12__c</queriedFields>
        <queriedFields>GRP_CC_R13_13__c</queriedFields>
        <queriedFields>GRP_CC_R13_14__c</queriedFields>
        <queriedFields>GRP_CC_R13_15__c</queriedFields>
        <queriedFields>GRP_CC_R13_16__c</queriedFields>
        <queriedFields>GRP_CC_R13_17__c</queriedFields>
        <queriedFields>GRP_CC_R13_18__c</queriedFields>
        <queriedFields>GRP_CC_R13_19__c</queriedFields>
        <queriedFields>GRP_CC_R13_20__c</queriedFields>
        <queriedFields>GRP_CC_R13_21__c</queriedFields>
        <queriedFields>GRP_CC_R13_22__c</queriedFields>
        <queriedFields>GRP_CC_R13_23__c</queriedFields>
        <queriedFields>GRP_CC_R13_24__c</queriedFields>
        <queriedFields>GRP_CC_Chain_Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Deep_Dive_Scr_13</name>
        <label>Save Deep Dive Scr 13</label>
        <locationX>724</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>attribution</targetReference>
        </connector>
        <inputReference>oDeepDiveScr13</inputReference>
    </recordUpdates>
    <screens>
        <name>Compliance</name>
        <label>Ecran 13</label>
        <locationX>507</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Deep_Dive_Scr_13</targetReference>
        </connector>
        <fields>
            <name>header_section</name>
            <extensionName>c:GRP_CC_flow_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>44.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <numberValue>120.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>sous_titre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlImage</name>
                <value>
                    <elementReference>image</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://pernod-ricard--holsb4dev.lightning.force.com/{!oDeepDiveScr13.GRP_CC_Chain_Account__c}&quot; target=&quot;_blank&quot;&gt;Back to the Chain Account&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_1_13</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q01</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_1__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_1__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_1__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_2_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q02</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_2__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_2__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_3_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q03</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_3__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_3__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_4_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q04</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_4__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_4__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_4__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_5_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q05</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_5__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_5__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_5__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_6_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q06</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_6__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_6__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_6__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_7_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q07</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_7__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_7__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_7__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_8_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_8__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_8__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_8__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_9_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q09</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_9__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_9__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_9__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_10_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q10</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_10__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_10__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_10__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_11_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q11</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_11__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_11__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_11__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_12_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q12</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_12__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_12__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_12__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_13_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q13</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_13__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_13__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_13__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_14_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q14</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_14__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_14__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_14__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_15_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q15</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_15__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_15__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_15__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_16_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q16</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_16__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_16__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_16__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_17_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q17</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_17__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_17__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_17__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_18_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q18</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_18__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_18__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_18__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_19_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q19</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_19__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_19__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_19__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_20_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q20</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_20__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_20__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_20__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_21_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q21</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_21__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_21__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_21__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_22_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q22</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_22__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_22__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_22__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_23_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q23</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_23__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_23__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_23__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_24_13</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q24</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr13.GRP_CC_R13_24__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_Q13_24__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr13.GRP_CC_R13_24__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>changement_photo_ecran13</name>
            <extensionName>c:GRP_CC_CustomFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileUploadLabel</name>
                <value>
                    <stringValue>Please add any additional information related to the BACK BAR / EQUIPMENT to help complete a comprehensive report. Please take up to 3 photos maximum</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameChargement</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formatImage</name>
                <value>
                    <elementReference>formatimage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multipleFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>documentIds</name>
                <value>
                    <elementReference>listFichierUpload</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ecran</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>carousel_ecran13</name>
            <extensionName>c:GRP_CC_Caroussel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ecran</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deep_dive</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Go_to</name>
            <choiceReferences>Next</choiceReferences>
            <choiceReferences>screens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Next</defaultSelectedChoiceReference>
            <fieldText>Go to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Deep_Dive_Scr_13_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Bar Equipment</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatimage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listFichierUpload</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oDeepDiveScr13</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Deep_dive__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sous_titre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
