flows/GRP_CC_Deep_Dive_Scr_6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_Ecran_6</name>
        <label>Attribution Ecran 6</label>
        <locationX>679</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>oDeepDiveScr6.GRP_CC_R6_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_6_8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr6.GRP_CC_Q6_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q08</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Deep_Dive_Scr_6</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>next</stringValue>
        </value>
    </choices>
    <constants>
        <name>Q01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Can the server recommend and explain a cocktail on the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Can the server name and explain three different gins on the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Can the server propose an upsell within a category from the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is the server able to explain the difference between a bourbon and a scotch?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q05</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Does the server know the origin of the house wine on the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q06</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Can the server speak about the primary spirit in a signature cocktail (category, brand, flavour) ?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q07</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Does your server know/recommend events taking place at the bar?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please add any additional infomration related to the KNOWLEDGE to help complete a comprehensive report.</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>screens</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_list_etape__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>GRP CC Deep Dive Scr_6 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP CC Deep Dive Scr_6</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deep_Dive_Scr_6_info</name>
        <label>Get Deep Dive Scr 6 info</label>
        <locationX>275</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GRP_CC_Deep_dive__c</object>
        <outputReference>oDeepDiveScr6</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GRP_CC_R6_1__c</queriedFields>
        <queriedFields>GRP_CC_R6_2__c</queriedFields>
        <queriedFields>GRP_CC_R6_3__c</queriedFields>
        <queriedFields>GRP_CC_R6_4__c</queriedFields>
        <queriedFields>GRP_CC_R6_5__c</queriedFields>
        <queriedFields>GRP_CC_R6_6__c</queriedFields>
        <queriedFields>GRP_CC_R6_7__c</queriedFields>
        <queriedFields>GRP_CC_Chain_Account__c</queriedFields>
        <queriedFields>GRP_CC_R6_8__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Deep_Dive_Scr_6</name>
        <label>Save Deep Dive Scr 6</label>
        <locationX>881</locationX>
        <locationY>50</locationY>
        <inputReference>oDeepDiveScr6</inputReference>
    </recordUpdates>
    <screens>
        <name>CustomerService</name>
        <label>Ecran_6</label>
        <locationX>484</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Ecran_6</targetReference>
        </connector>
        <fields>
            <name>header_section</name>
            <extensionName>c:GRP_CC_flow_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>sous_titre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlImage</name>
                <value>
                    <elementReference>image</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://pernod-ricard--holsb4dev.lightning.force.com/{!oDeepDiveScr6.GRP_CC_Chain_Account__c}&quot; target=&quot;_blank&quot;&gt;Back to the Chain Account&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_01</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q01</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr6.GRP_CC_R6_1__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_Q6_1__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_R6_1__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_02</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q02</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr6.GRP_CC_R6_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_Q6_2__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_R6_2__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_03</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q03</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr6.GRP_CC_R6_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_Q6_3__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_R6_3__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_04</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q04</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr6.GRP_CC_R6_4__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_R6_4__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_Q6_4__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_05</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q05</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr6.GRP_CC_R6_5__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_R6_5__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_Q6_5__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_6_6</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q06</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr6.GRP_CC_R6_6__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_Q6_6__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_R6_6__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_7_6</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q07</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr6.GRP_CC_R6_7__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_R6_7__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr6.GRP_CC_Q6_7__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_6_8</name>
            <defaultValue>
                <stringValue>{!oDeepDiveScr6.GRP_CC_R6_8__c}</stringValue>
            </defaultValue>
            <fieldText>{!Q08}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Go_to</name>
            <choiceReferences>Next</choiceReferences>
            <choiceReferences>screens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Next</defaultSelectedChoiceReference>
            <fieldText>Go to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Deep_Dive_Scr_6_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Knowledge</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatimage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listFichierUpload</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oDeepDiveScr6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Deep_dive__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sous_titre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
