flows/GRP_CC_Deep_Dive_Scr_7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_Ecran_7</name>
        <label>Attribution Ecran 7</label>
        <locationX>716</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>oDeepDiveScr7.GRP_CC_Q7_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr7.GRP_CC_Q7_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr7.GRP_CC_Q7_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr7.GRP_CC_R7_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_7_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Deep_Dive_Scr_7</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>current_R7_1</name>
        <choiceText>{!default_R7_1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R7_1</elementReference>
        </value>
    </choices>
    <choices>
        <name>current_R7_2</name>
        <choiceText>{!default_R7_2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R7_2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>next</stringValue>
        </value>
    </choices>
    <constants>
        <name>Q01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Upon requesting your bill, how long does it take for the bill to arrive at your table?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The bill is delivered to my table:</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The bill arrives with a promotional info (upcoming event etc)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The bill arrives with a prompt to review/recommend/social media</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q05</name>
        <dataType>String</dataType>
        <value>
            <stringValue>As you leave the venue are you acknowledged by a team member?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q06</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please add any additional infomration related to the PAYMENT &amp; DEPARTURE to help complete a comprehensive report.</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>list_R7_1_Dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R7_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R7_1</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr7.GRP_CC_R7_1__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_R7_2_Dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R7_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R7_2</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr7.GRP_CC_R7_2__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>screens</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_list_etape__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>default_R7_1</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr7.GRP_CC_R7_1__c})), &apos;Select a value &apos;, TEXT({!oDeepDiveScr7.GRP_CC_R7_1__c}))</expression>
    </formulas>
    <formulas>
        <name>default_R7_2</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr7.GRP_CC_R7_2__c})), &apos;Select a value &apos;, TEXT({!oDeepDiveScr7.GRP_CC_R7_2__c}))</expression>
    </formulas>
    <formulas>
        <name>label_R7_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R7_1_dynamic_EntityParticleId}</expression>
    </formulas>
    <formulas>
        <name>label_R7_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R7_2_dynamic_EntityParticleId}</expression>
    </formulas>
    <interviewLabel>GRP CC Deep Dive Scr_7 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP CC Deep Dive Scr_7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deep_Dive_Scr_7_info</name>
        <label>Get_Deep_Dive_Scr_7_info</label>
        <locationX>279</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Technique_Perfect_Serve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GRP_CC_Deep_dive__c</object>
        <outputReference>oDeepDiveScr7</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GRP_CC_R7_1__c</queriedFields>
        <queriedFields>GRP_CC_R7_2__c</queriedFields>
        <queriedFields>GRP_CC_R7_3__c</queriedFields>
        <queriedFields>GRP_CC_R7_4__c</queriedFields>
        <queriedFields>GRP_CC_R7_5__c</queriedFields>
        <queriedFields>GRP_CC_Chain_Account__c</queriedFields>
        <queriedFields>GRP_CC_R7_6__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Deep_Dive_Scr_7</name>
        <label>Save_Deep_Dive_Scr_7</label>
        <locationX>933</locationX>
        <locationY>50</locationY>
        <inputReference>oDeepDiveScr7</inputReference>
    </recordUpdates>
    <screens>
        <name>Technique_Perfect_Serve</name>
        <label>Ecran_7</label>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Ecran_7</targetReference>
        </connector>
        <fields>
            <name>header_section</name>
            <extensionName>c:GRP_CC_flow_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>sous_titre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlImage</name>
                <value>
                    <elementReference>image</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://pernod-ricard--holsb4dev.lightning.force.com/{!oDeepDiveScr7.GRP_CC_Chain_Account__c}&quot; target=&quot;_blank&quot;&gt;Back to the Chain Account&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_1_7</name>
            <choiceReferences>current_R7_1</choiceReferences>
            <choiceReferences>list_R7_1_Dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R7_1</defaultSelectedChoiceReference>
            <fieldText>{!Q01}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_2_7</name>
            <choiceReferences>current_R7_2</choiceReferences>
            <choiceReferences>list_R7_2_Dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R7_2</defaultSelectedChoiceReference>
            <fieldText>{!Q02}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_03</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q03</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr7.GRP_CC_R7_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr7.GRP_CC_R7_3__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr7.GRP_CC_Q7_3__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_4_7</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q04</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr7.GRP_CC_R7_4__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr7.GRP_CC_Q7_4__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr7.GRP_CC_R7_4__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_5_7</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q05</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr7.GRP_CC_R7_5__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr7.GRP_CC_Q7_5__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr7.GRP_CC_R7_5__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_7_6</name>
            <defaultValue>
                <stringValue>{!oDeepDiveScr7.GRP_CC_R7_6__c}</stringValue>
            </defaultValue>
            <fieldText>{!Q06}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>chargement_photo1</name>
            <extensionName>c:GRP_CC_CustomFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileUploadLabel</name>
                <value>
                    <stringValue>Please photograph and upload a copy of your receipt (full length)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameChargement</name>
                <value>
                    <stringValue>{!CurrentStage}_receipt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formatImage</name>
                <value>
                    <elementReference>formatimage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multipleFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>documentIds</name>
                <value>
                    <elementReference>listFichierUpload</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ecran</name>
                <value>
                    <stringValue>{!CurrentStage}_receipt</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>chargement_photo2</name>
            <extensionName>c:GRP_CC_CustomFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileUploadLabel</name>
                <value>
                    <stringValue>Please photograph and upload a copy of any advertising or &apos;call-to-action&apos; received with your bill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameChargement</name>
                <value>
                    <stringValue>{!CurrentStage}_call_to_action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formatImage</name>
                <value>
                    <elementReference>formatimage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multipleFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>documentIds</name>
                <value>
                    <elementReference>listfichierUpload2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ecran</name>
                <value>
                    <stringValue>{!CurrentStage}_call_to_action</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>carousel_ecran_7</name>
            <extensionName>c:GRP_CC_Caroussel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ecran</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deep_dive</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Go_to</name>
            <choiceReferences>Next</choiceReferences>
            <choiceReferences>screens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Next</defaultSelectedChoiceReference>
            <fieldText>Go to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Deep_Dive_Scr_7_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Payment &amp; Departure</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatimage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listFichierUpload</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listfichierUpload2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oDeepDiveScr7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Deep_dive__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sous_titre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
