flows/GRP_CC_Deep_Dive_Scr_10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_ecran10</name>
        <label>Attributions</label>
        <locationX>707</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_3_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_4_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_5_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_6_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_7_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_8_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_13_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q07</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q08</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_11__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_Q10_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr10.GRP_CC_R10_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_10_14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Deep_Dive_Scr_10</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>next</stringValue>
        </value>
    </choices>
    <constants>
        <name>Q01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is the venue&apos;s Instagram page independent and stand alone from the main property?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a link visible (and working) on Instagram page to venue website or other www ?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many days since the last post by the venue on Instagram?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many posts in the last week (7 days)?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q05</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many posts in the last month (28 days)?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q06</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many people FOLLOW the Instagram page?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q07</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many people is the Instagram page following?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many posts have been made by the Instagram profile?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q09</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Does the instagram profile use &apos;Instagram Stories&apos;?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q10</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Does the Instagram profile bookmark themes on its page/profile?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q11</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Review the most recent post on Instagram, how many hashtags were used?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q12</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many posts since the venue last posted an image of a drink serve?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q13</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Considering the most popular post created in the last seven days - how many likes has it received?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q14</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please add any additional infomration related to the Digital - Instagram to help complete a comprehensive report.</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>screens</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_list_etape__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>GRP CC Deep Dive Scr_10 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP CC Deep Dive Scr_10</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deep_Dive_Scr_10_info</name>
        <label>Get Deep Dive Scr 10 info</label>
        <locationX>273</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Beverage_Strategy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GRP_CC_Deep_dive__c</object>
        <outputReference>oDeepDiveScr10</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GRP_CC_R10_1__c</queriedFields>
        <queriedFields>GRP_CC_R10_2__c</queriedFields>
        <queriedFields>GRP_CC_Com10__c</queriedFields>
        <queriedFields>GRP_CC_R10_3__c</queriedFields>
        <queriedFields>GRP_CC_R10_4__c</queriedFields>
        <queriedFields>GRP_CC_R10_5__c</queriedFields>
        <queriedFields>GRP_CC_R10_6__c</queriedFields>
        <queriedFields>GRP_CC_R10_7__c</queriedFields>
        <queriedFields>GRP_CC_R10_8__c</queriedFields>
        <queriedFields>GRP_CC_R10_10__c</queriedFields>
        <queriedFields>GRP_CC_R10_11__c</queriedFields>
        <queriedFields>GRP_CC_R10_9__c</queriedFields>
        <queriedFields>GRP_CC_R10_12__c</queriedFields>
        <queriedFields>GRP_CC_R10_13__c</queriedFields>
        <queriedFields>GRP_CC_Chain_Account__c</queriedFields>
        <queriedFields>GRP_CC_R10_14__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Deep_Dive_Scr_10</name>
        <label>Save Deep Dive Scr 10</label>
        <locationX>919</locationX>
        <locationY>50</locationY>
        <inputReference>oDeepDiveScr10</inputReference>
    </recordUpdates>
    <screens>
        <name>Beverage_Strategy</name>
        <label>Ecran 10</label>
        <locationX>490</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_ecran10</targetReference>
        </connector>
        <fields>
            <name>header_section</name>
            <extensionName>c:GRP_CC_flow_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>sous_titre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlImage</name>
                <value>
                    <elementReference>image</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://pernod-ricard--holsb4dev.lightning.force.com/{!oDeepDiveScr10.GRP_CC_Chain_Account__c}&quot; target=&quot;_blank&quot;&gt;Back to the Chain Account&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_01</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q01</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr10.GRP_CC_R10_1__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_R10_1__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_Q10_1__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_02</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q02</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr10.GRP_CC_R10_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_R10_2__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_Q10_2__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_3_10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr10.GRP_CC_R10_3__c</elementReference>
            </defaultValue>
            <fieldText>{!Q03}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Q_4_10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr10.GRP_CC_R10_4__c</elementReference>
            </defaultValue>
            <fieldText>{!Q04}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Q_5_10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr10.GRP_CC_R10_5__c</elementReference>
            </defaultValue>
            <fieldText>{!Q05}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Q_6_10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr10.GRP_CC_R10_6__c</elementReference>
            </defaultValue>
            <fieldText>{!Q06}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Q_7_10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr10.GRP_CC_R10_7__c</elementReference>
            </defaultValue>
            <fieldText>{!Q07}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Q_8_10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr10.GRP_CC_R10_8__c</elementReference>
            </defaultValue>
            <fieldText>{!Q08}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Q_9_10</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q09</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr10.GRP_CC_R10_9__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_Q10_9__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_R10_9__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_10_10</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q10</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr10.GRP_CC_R10_10__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_Q10_10__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_R10_10__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_11_10</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q11</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr10.GRP_CC_R10_11__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_R10_11__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_12_10</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q12</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr10.GRP_CC_R10_12__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr10.GRP_CC_R10_12__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_13_10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr10.GRP_CC_R10_13__c</elementReference>
            </defaultValue>
            <fieldText>{!Q13}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Q_10_14</name>
            <defaultValue>
                <stringValue>{!oDeepDiveScr10.GRP_CC_R10_14__c}</stringValue>
            </defaultValue>
            <fieldText>{!Q14}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Go_to</name>
            <choiceReferences>Next</choiceReferences>
            <choiceReferences>screens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Next</defaultSelectedChoiceReference>
            <fieldText>Go to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Deep_Dive_Scr_10_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Digital - Instagram</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatimage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oDeepDiveScr10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Deep_dive__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sous_titre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
