flows/GRP_CC_Deep_Dive_Scr_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_Ecran_1</name>
        <label>Attribution Ecran 1</label>
        <locationX>609</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1_13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_R1_14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q07</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q09</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q08</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr1.GRP_CC_Q1_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Deep_Dive_Scr_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>current_R1_13</name>
        <choiceText>{!default_R1_13}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R1_13</elementReference>
        </value>
    </choices>
    <choices>
        <name>current_R1_14</name>
        <choiceText>{!default_R1_14}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R1_14</elementReference>
        </value>
    </choices>
    <choices>
        <name>current_R1_4</name>
        <choiceText>{!default_R1_4}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R1_4</elementReference>
        </value>
    </choices>
    <choices>
        <name>current_R1_6</name>
        <choiceText>{!default_R1_6}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R1_6</elementReference>
        </value>
    </choices>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Next</stringValue>
        </value>
    </choices>
    <choices>
        <name>screen0</name>
        <choiceText>Survey guidance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>screen0</stringValue>
        </value>
    </choices>
    <choices>
        <name>screen3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Step 3 - Arrival&amp;nbsp;- Venue&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screen3</stringValue>
        </value>
    </choices>
    <constants>
        <name>Q01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Address</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Market Company</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deep Dive Property Type</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q05</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Venue Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q06</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PROS categorisation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q07</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Venue Website</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Open Days</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q09</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekday Opening</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q10</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekend Opening</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q11</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is venue website separate to hotel website</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q12</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Does venue have street access, avoiding hotel main entrance?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q13</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is venue close to street level (floors g-1-2-3) or rooftop</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q14</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary function of venue</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q15</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many years has the venue been open for (total)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q16</name>
        <dataType>String</dataType>
        <value>
            <stringValue>How many years since the last refresh/refurb/re-concept?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1_8A</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1_8B</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1_8C</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1_8D</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1_8E</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Friday</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1_8F</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Saturday</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1_8G</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sunday</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>list_R1_13_dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R1_13</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R1_13</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_13__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_R1_14_dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R1_14</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R1_14</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_14__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_R1_4_dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R1_4</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R1_4</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_4__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_R1_6_dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R1_6</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R1_6</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr1.GRP_CC_R1_6__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Screens</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_list_etape__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Compagny_default</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK( {!oDeepDiveScr1.GRP_CC_R1_3__c} )),  {!oDeepDiveScr1.GRP_CC_R1_3__c} ,{!oUser.CompanyName})</expression>
    </formulas>
    <formulas>
        <name>default_R1_13</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr1.GRP_CC_R1_13__c})), &apos;Select a value&apos;, TEXT({!oDeepDiveScr1.GRP_CC_R1_13__c}))</expression>
    </formulas>
    <formulas>
        <name>default_R1_14</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr1.GRP_CC_R1_14__c})), &apos;Select a value &apos;, TEXT({!oDeepDiveScr1.GRP_CC_R1_14__c}))</expression>
    </formulas>
    <formulas>
        <name>default_R1_4</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr1.GRP_CC_R1_4__c})), &apos;Select a value&apos;, TEXT({!oDeepDiveScr1.GRP_CC_R1_4__c}))</expression>
    </formulas>
    <formulas>
        <name>default_R1_6</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr1.GRP_CC_R1_6__c})), &apos;Select a value&apos;, TEXT({!oDeepDiveScr1.GRP_CC_R1_6__c}))</expression>
    </formulas>
    <formulas>
        <name>Email_default</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK( {!oDeepDiveScr1.GRP_CC_R1_2__c} )),  {!oDeepDiveScr1.GRP_CC_R1_2__c} ,{!oUser.Email})</expression>
    </formulas>
    <formulas>
        <name>label_R1_13</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R1_13_dynamic_EntityParticleId}</expression>
    </formulas>
    <formulas>
        <name>label_R1_14</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R1_14_dynamic_EntityParticleId}</expression>
    </formulas>
    <formulas>
        <name>label_R1_4</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R1_4_dynamic_EntityParticleId}</expression>
    </formulas>
    <formulas>
        <name>label_R1_6</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R1_6_dynamic_EntityParticleId}</expression>
    </formulas>
    <formulas>
        <name>Name_default</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK( {!oDeepDiveScr1.GRP_CC_R1_1__c} )),  {!oDeepDiveScr1.GRP_CC_R1_1__c} , {!oUser.Name})</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>GRP CC Deep Dive Scr_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP CC Deep Dive Scr_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deep_Dive_Scr_1_info</name>
        <label>Get Deep Dive Scr 1 info</label>
        <locationX>245</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GRP_CC_Deep_dive__c</object>
        <outputReference>oDeepDiveScr1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GRP_CC_R1_1__c</queriedFields>
        <queriedFields>GRP_CC_R1_2__c</queriedFields>
        <queriedFields>GRP_CC_R1_3__c</queriedFields>
        <queriedFields>GRP_CC_R1_5__c</queriedFields>
        <queriedFields>GRP_CC_R1_6__c</queriedFields>
        <queriedFields>GRP_CC_R1_7__c</queriedFields>
        <queriedFields>GRP_CC_R1_11__c</queriedFields>
        <queriedFields>GRP_CC_R1_12__c</queriedFields>
        <queriedFields>GRP_CC_R1_13__c</queriedFields>
        <queriedFields>GRP_CC_R1_14__c</queriedFields>
        <queriedFields>GRP_CC_R1_15__c</queriedFields>
        <queriedFields>GRP_CC_R1_16__c</queriedFields>
        <queriedFields>GRP_CC_Chain_Account__c</queriedFields>
        <queriedFields>GRP_CC_R1_8_A1__c</queriedFields>
        <queriedFields>GRP_CC_R1_8_A2__c</queriedFields>
        <queriedFields>GRP_CC_R1_8_A3__c</queriedFields>
        <queriedFields>GRP_CC_R1_8_A4__c</queriedFields>
        <queriedFields>GRP_CC_R1_8_A5__c</queriedFields>
        <queriedFields>GRP_CC_R1_8_A6__c</queriedFields>
        <queriedFields>GRP_CC_R1_8_A7__c</queriedFields>
        <queriedFields>GRP_CC_R1_9__c</queriedFields>
        <queriedFields>GRP_CC_R1_10__c</queriedFields>
        <queriedFields>GRP_CC_R1_4__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>337</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ecran_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>oUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>CompanyName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Deep_Dive_Scr_1</name>
        <label>Save Deep Dive Scr 1</label>
        <locationX>799</locationX>
        <locationY>50</locationY>
        <inputReference>oDeepDiveScr1</inputReference>
    </recordUpdates>
    <screens>
        <name>Ecran_1</name>
        <label>Ecran_1</label>
        <locationX>432</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Ecran_1</targetReference>
        </connector>
        <fields>
            <name>header_section</name>
            <extensionName>c:GRP_CC_flow_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>sous_titre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlImage</name>
                <value>
                    <elementReference>image</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Ecran_1_txt_1</name>
            <fieldText>&lt;a href=&quot;/{!oDeepDiveScr1.GRP_CC_Chain_Account__c}&quot; target=&quot;_self&quot;&gt;Back to the Chain Account&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_1_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Name_default</elementReference>
            </defaultValue>
            <fieldText>{!Q01}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_1_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email_default</elementReference>
            </defaultValue>
            <fieldText>{!Q02}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_1_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Compagny_default</elementReference>
            </defaultValue>
            <fieldText>{!Q03}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_1_4</name>
            <choiceReferences>current_R1_4</choiceReferences>
            <choiceReferences>list_R1_4_dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R1_4</defaultSelectedChoiceReference>
            <fieldText>{!Q04}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_1_5</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr1.GRP_CC_R1_5__c</elementReference>
            </defaultValue>
            <fieldText>{!Q05}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_1_6</name>
            <choiceReferences>current_R1_6</choiceReferences>
            <choiceReferences>list_R1_6_dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R1_6</defaultSelectedChoiceReference>
            <fieldText>{!Q06}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_1_7</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr1.GRP_CC_R1_7__c</elementReference>
            </defaultValue>
            <fieldText>{!Q07}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_1_8</name>
            <fieldText>&lt;p&gt;{!Q08}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_1_8_A1</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q1_8A</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_8_A1__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_8_A1__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8A__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_A2</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q1_8B</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_8_A2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_8_A2__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8B__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_A3</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q1_8C</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_8_A3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_8_A3__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8C__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_A4</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q1_8D</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_8_A4__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_8_A4__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8D__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_A5</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q1_8E</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_8_A5__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_8_A5__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8E__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_A6</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q1_8F</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_8_A6__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_8_A6__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8F__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_8_A7</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q1_8G</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_8_A7__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_8_A7__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_8G__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_9</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr1.GRP_CC_R1_9__c</elementReference>
            </defaultValue>
            <fieldText>{!Q09}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_1_10</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr1.GRP_CC_R1_10__c</elementReference>
            </defaultValue>
            <fieldText>{!Q10}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_1_11</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q11</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_11__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_11__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_11__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_12</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q12</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_12__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_12__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_12__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_13</name>
            <choiceReferences>current_R1_13</choiceReferences>
            <choiceReferences>list_R1_13_dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R1_13</defaultSelectedChoiceReference>
            <fieldText>{!Q13}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_R1_14</name>
            <choiceReferences>current_R1_14</choiceReferences>
            <choiceReferences>list_R1_14_dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R1_14</defaultSelectedChoiceReference>
            <fieldText>{!Q14}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_1_15</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q15</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_15__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_15__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_15__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_1_16</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q16</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr1.GRP_CC_R1_16__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_Q1_16__c</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr1.GRP_CC_R1_16__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NextStep</name>
            <choiceReferences>Next</choiceReferences>
            <choiceReferences>Screens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Next</defaultSelectedChoiceReference>
            <fieldText>Go to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Deep_Dive_Scr_1_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Arrival - Exterior</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatimage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listFichierUpload</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oDeepDiveScr1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Deep_dive__c</objectType>
    </variables>
    <variables>
        <name>oUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sous_titre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
