flows/GRP_CC_Rights_deep_dive_admin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SetTrouve</name>
        <label>SetTrouve</label>
        <locationX>702</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>GRP_CC_Deep_Dive_admin</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPermissionSetAssignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GRP_CC_deep_dive_admin_find</name>
        <label>GRP_CC_deep_dive_admin find</label>
        <locationX>496</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>LoopPermissionSetAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPermissionSet.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GRP_CC_Deep_Dive_Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTrouve</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Permet de voir si un user a le permission set admin pour le deep dive</description>
    <interviewLabel>GRP_CC_Rights_deep_dive_admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP_CC_Rights_deep_dive_admin</label>
    <loops>
        <name>LoopPermissionSetAssignment</name>
        <label>LoopPermissionSetAssignment</label>
        <locationX>504</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>myPermissionSetAssignment</assignNextValueToReference>
        <collectionReference>getPermissionSetAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getPermissionSet</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPermissionSet</name>
        <label>getPermissionSet</label>
        <locationX>307</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GRP_CC_deep_dive_admin_find</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myPermissionSetAssignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPermissionSetAssignment</name>
        <label>getPermissionSetAssignment</label>
        <locationX>290</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPermissionSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PermissionSetId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPermissionSetAssignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GRP_CC_Deep_Dive_admin</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myPermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
