flows/GRP_CC_Deep_Dive_Scr_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_Com2</name>
        <label>Attribution Com2</label>
        <locationX>706</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>oDeepDiveScr2.GRP_CC_R2_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Menu_Section_Comments1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr2.GRP_CC_Q2_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr2.GRP_CC_Q2_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr2.GRP_CC_Q2_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q09</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDeepDiveScr2.GRP_CC_R2_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Deep_Dive_Scr_2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>current_R2_2</name>
        <choiceText>{!default_R2_2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>default_R2_2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>next</stringValue>
        </value>
    </choices>
    <constants>
        <name>Q01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>What time did you arrive to the venue address?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Was it bright or dark outside?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If dark was there adequate lighting to identify the venue?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is the venue location obvious from the exterior?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q05</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is the street area outside the venue clean and tidy? (Free from cigarette butts, litter)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q06</name>
        <dataType>String</dataType>
        <value>
            <stringValue> Is there a host at street level entrance to greet guests arriving to the venue? (Independent to hotel concierge or doorman)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q07</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there venue signage on the exterior?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q08</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there a menu card or advertising on the exterior of the venue?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q09</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please add any additional information related to the EXTERIOR to help complete a comprehensive report.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q10</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are key spirits and mixers brands listed in the description?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q11</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are “Signature Drinks” highlighted on the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q12</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there an upsell opportunity highlighted on the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q13</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is there at least one mocktail on the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q14</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are cocktail prices listed on the menu?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q15</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are the cocktail prices in regular, not bold, type and in slightly smaller font?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q16</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are drinks arranged by most to least expensive?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q17</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is the Spirit list arranged by category and light to dark?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q18</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Do key Spirits on the Spirit List have a description?</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>list_R2_2_dynamic</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>label_R2_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>current_R2_2</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>oDeepDiveScr2.GRP_CC_R2_2__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Screens</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRP_CC_list_etape__c</picklistField>
        <picklistObject>GRP_CC_Deep_dive__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>default_R2_2</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK(TEXT({!oDeepDiveScr2.GRP_CC_R2_2__c})), &apos;Select a value &apos;, TEXT({!oDeepDiveScr2.GRP_CC_R2_2__c}))</expression>
    </formulas>
    <formulas>
        <name>label_R2_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.GRP_CC_list_R2_2_dynamic_EntityParticleId}</expression>
    </formulas>
    <interviewLabel>GRP CC Deep Dive Scr_2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRP CC Deep Dive Scr_2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deep_Dive_Scr_2_info</name>
        <label>Get Deep Dive Scr 2 info</label>
        <locationX>275</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ecran_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GRP_CC_Deep_dive__c</object>
        <outputReference>oDeepDiveScr2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GRP_CC_R2_3__c</queriedFields>
        <queriedFields>GRP_CC_R2_4__c</queriedFields>
        <queriedFields>GRP_CC_R2_5__c</queriedFields>
        <queriedFields>GRP_CC_R2_6__c</queriedFields>
        <queriedFields>GRP_CC_R2_7__c</queriedFields>
        <queriedFields>GRP_CC_R2_8__c</queriedFields>
        <queriedFields>GRP_CC_Com2__c</queriedFields>
        <queriedFields>GRP_CC_Chain_Account__c</queriedFields>
        <queriedFields>GRP_CC_R2_1__c</queriedFields>
        <queriedFields>GRP_CC_R2_2__c</queriedFields>
        <queriedFields>GRP_CC_R2_9__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Deep_Dive_Scr_2</name>
        <label>Save Deep Dive Scr 2</label>
        <locationX>942</locationX>
        <locationY>50</locationY>
        <inputReference>oDeepDiveScr2</inputReference>
    </recordUpdates>
    <screens>
        <name>Ecran_2</name>
        <label>Ecran_2</label>
        <locationX>494</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Com2</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <extensionName>c:GRP_CC_flow_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>sous_titre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlImage</name>
                <value>
                    <elementReference>image</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Ecran_1_txt_1</name>
            <fieldText>&lt;a href=&quot;/{!oDeepDiveScr2.GRP_CC_Chain_Account__c}&quot; target=&quot;_self&quot;&gt;Back to the Chain Account&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q_1</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>oDeepDiveScr2.GRP_CC_R2_1__c</elementReference>
            </defaultValue>
            <fieldText>{!Q01}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q_2</name>
            <choiceReferences>current_R2_2</choiceReferences>
            <choiceReferences>list_R2_2_dynamic</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>current_R2_2</defaultSelectedChoiceReference>
            <fieldText>{!Q02}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_3</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q03</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr2.GRP_CC_R2_3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_R2_3__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_Q2_3__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_4</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q04</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr2.GRP_CC_R2_4__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_R2_4__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_Q2_4__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_5</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q05</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr2.GRP_CC_R2_5__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_R2_5__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_Q2_5__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_6</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q06</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr2.GRP_CC_R2_6__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_R2_6__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_Q2_6__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_7</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q07</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr2.GRP_CC_R2_7__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_R2_7__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_Q2_7__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Q_8</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Q08</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>oDeepDiveScr2.GRP_CC_R2_8__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_R2_8__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>oDeepDiveScr2.GRP_CC_Q2_8__c</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Menu_Section_Comments1</name>
            <defaultValue>
                <stringValue>{!oDeepDiveScr2.GRP_CC_R2_9__c}</stringValue>
            </defaultValue>
            <fieldText>{!Q09}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>chargement_photo</name>
            <extensionName>c:GRP_CC_CustomFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileUploadLabel</name>
                <value>
                    <stringValue>Please take a photograph of the venue exterior and upload (3 photos maximum)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameChargement</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formatImage</name>
                <value>
                    <elementReference>formatimage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multipleFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>documentIds</name>
                <value>
                    <elementReference>listFichierUpload</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ecran</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>carousel_ecran_2</name>
            <extensionName>c:GRP_CC_Caroussel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ecran</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deep_dive</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>Next</choiceReferences>
            <choiceReferences>Screens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Next</defaultSelectedChoiceReference>
            <fieldText>Go to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Deep_Dive_Scr_2_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Arrival - Exterior</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatimage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listFichierUpload</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oDeepDiveScr2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRP_CC_Deep_dive__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sous_titre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
