flows/PR_Group_Outlet_Type_Selection_CH.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>HighEnergyBar_Group_Outlet_Assignment</name>
        <label>High Energy Bar - Group Outley Type Assignment</label>
        <locationX>671</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High_Energy_Bar_Group_Outlet_ID_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LowEnergyBar_Group_Outlet_Assignment</name>
        <label>Low Energy Bar - Group Outlet Type Assignment</label>
        <locationX>494</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Low_Energy_Bar_Group_Outlet_ID_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NightClub_Group_Outlet_Assignment</name>
        <label>Night Club - Group Outlet Type Assignment</label>
        <locationX>303</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nightclub</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Night_Club_Group_Outlet_ID_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restaurant_Group_Outlet_Assignment</name>
        <label>Restaurant - Group Outlet Type Assignment</label>
        <locationX>110</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restaurant_Group_Outlet_ID_Lookup</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PicklistNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Queston1_Decision</name>
        <label>Queston 1 Decision</label>
        <locationX>402</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question2_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupOutletTypeAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restaurant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Restaurant</label>
        </rules>
        <rules>
            <name>Question2_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupOutletTypeAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nightclub</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NightClub_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Nightclub</label>
        </rules>
        <rules>
            <name>Low_Energy_Bar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupOutletTypeAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Energy Bar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LowEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Low Energy Bar</label>
        </rules>
        <rules>
            <name>High_Energy_Bar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupOutletTypeAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Energy Bar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>High Energy Bar</label>
        </rules>
    </decisions>
    <description>For CH</description>
    <dynamicChoiceSets>
        <name>GroupOutletTypeAnswer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EUR_CRM_Group_Outlet_Name__c</picklistField>
        <picklistObject>EUR_CRM_Group_Outlet_Type__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Outlet_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>EUR_CRM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CH</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>OutletTypeName</assignToReference>
            <field>EUR_CRM_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutletTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>EUR_CRM_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PR Group Outlet Type Selection CH v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PR Group Outlet Type Selection CH v3</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>High_Energy_Bar_Group_Outlet_ID_Lookup</name>
        <label>High Energy Bar - Group Outlet ID Lookup</label>
        <locationX>625</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CH</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Low_Energy_Bar_Group_Outlet_ID_Lookup</name>
        <label>Low Energy Bar - Group Outlet ID Lookup</label>
        <locationX>472</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CH</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Night_Club_Group_Outlet_ID_Lookup</name>
        <label>Night Club - Group Outlet ID Lookup</label>
        <locationX>329</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CH</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Night</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProSegmentationLookup</name>
        <label>ProSegmentationLookup</label>
        <locationX>406</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Outlet_Type_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Pros_Segmentation__c</object>
        <outputAssignments>
            <assignToReference>ProSegCountryCode</assignToReference>
            <field>EUR_CRM_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Restaurant_Group_Outlet_ID_Lookup</name>
        <label>Restaurant - Group Outlet ID Lookup</label>
        <locationX>189</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CH</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outlet_Type</name>
        <label>Update Outlet Type</label>
        <locationX>391</locationX>
        <locationY>637</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <value>
                <elementReference>GroupOutletID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR_CRM_Outlet_Type__c</field>
            <value>
                <elementReference>OutletTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>EUR_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>388</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishStatement</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Done with group outlet and outlet type selection.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GroupOutletResult</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have assigned the following:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Group Outlet Type: &lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GroupOutletName}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Outlet Type: &lt;B&gt;{!OutletTypeName}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Group_Outlet_Type_Choice</name>
        <label>Group Outlet Type Choice</label>
        <locationX>408</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Queston1_Decision</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select Group outlet type&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answer1</name>
            <choiceReferences>GroupOutletTypeAnswer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_Type_Screen</name>
        <label>Outlet Type Screen</label>
        <locationX>392</locationX>
        <locationY>533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Outlet_Type</targetReference>
        </connector>
        <fields>
            <name>Outlet_Type_Label</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select outlet type for {!GroupOutletName} &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!AffiliateName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outlet_Type_2</name>
            <choiceReferences>Outlet_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outlet Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProSegmentationLookup</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account ID - Visualforce page parameter</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Argument: Affiliate Name</description>
        <name>AffiliateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Group Outlet Type ID</description>
        <name>GroupOutletID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Group Outlet Name</description>
        <name>GroupOutletName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected Outlet ID</description>
        <name>OutletTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Outlet Type Name</description>
        <name>OutletTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProSegCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pros Segmentation ID - Visualforce page parameter</description>
        <name>ProsSegmentationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
