flows/PR_Group_Outlet_Type_Selection.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Blank_Outlet_Type</name>
        <label>Assign Blank Outlet Type</label>
        <locationX>784</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>OutletTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HighEnergyBar_Group_Outlet_Assignment</name>
        <label>High Energy Bar - Group Outley Type Assignment</label>
        <locationX>413</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LowEnergyBar_Group_Outlet_Assignment</name>
        <label>Low Energy Bar - Group Outlet Type Assignment</label>
        <locationX>607</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NightClub_Group_Outlet_Assignment</name>
        <label>Night Club - Group Outlet Type Assignment</label>
        <locationX>800</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Night Club</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restaurant_Group_Outlet_Assignment</name>
        <label>Restaurant - Group Outlet Type Assignment</label>
        <locationX>223</locationX>
        <locationY>1004</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>GreaterThan85_Choice</name>
        <choiceText>Maior que 85%</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>LessThan85_Choice</name>
        <choiceText>Menor que 85%</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Choice</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PicklistNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>GreaterThan_85_ConstantValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;85%</stringValue>
        </value>
    </constants>
    <constants>
        <name>LessThan85_Constant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&gt;85%</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Outlet_Choice_Decision</name>
        <label>Outlet Choice Decision</label>
        <locationX>520</locationX>
        <locationY>1229</locationY>
        <defaultConnectorLabel>No_default</defaultConnectorLabel>
        <rules>
            <name>Outlet_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outlet_Type_Picklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Outlet_Type</targetReference>
            </connector>
            <label>Outlet Update</label>
        </rules>
        <rules>
            <name>Outlet_No_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outlet_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blank_Outlet_Type</targetReference>
            </connector>
            <label>Outlet No Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question1_Decision</name>
        <label>Question1 Decision</label>
        <locationX>374</locationX>
        <locationY>109</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Question1_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question1_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question2_Decision</name>
        <label>Question 2 Decision</label>
        <locationX>482</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question2_GreaterThan85_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question3</targetReference>
            </connector>
            <label>Greater Than 85% Outcome</label>
        </rules>
        <rules>
            <name>Question2_LessThan85_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Less Than 85% Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question4_Decision</name>
        <label>Question 4 Decision</label>
        <locationX>534</locationX>
        <locationY>874</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question4_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question4_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LowEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queston3_Decision</name>
        <label>Queston 3 Decision</label>
        <locationX>626</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question3_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question4</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Question3_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NightClub_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>To select Group Outlet Type for PR</description>
    <dynamicChoiceSets>
        <name>Outlet_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>EUR_CRM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Affiliate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliateName</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>OutletTypeName</assignToReference>
            <field>EUR_CRM_Name__c</field>
        </outputAssignments>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>EUR_CRM_Name__c</valueField>
    </dynamicChoiceSets>
    <label>PR Group Outlet Type Selection</label>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update Group Outlet Type in Pros Segmentation</description>
        <name>Update_GroupOutlet_ProsSeg</name>
        <label>Update Group Outlet Type  - Pros Segmentation</label>
        <locationX>516</locationX>
        <locationY>1462</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EUR_CRM_Group_Outlet_Type_ToDELETE__c</field>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </inputAssignments>
        <object>EUR_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Outlet_Type</name>
        <label>Update Outlet Type</label>
        <locationX>518</locationX>
        <locationY>1371</locationY>
        <connector>
            <targetReference>Update_GroupOutlet_ProsSeg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EUR_CRM_Outlet_Type_ToDELETE__c</field>
            <value>
                <elementReference>OutletTypeName</elementReference>
            </value>
        </inputAssignments>
        <object>EUR_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>515</locationX>
        <locationY>1559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishStatement</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Done with group outlet and outlet type selection.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GroupOutletResult</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have assigned the following:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Group Outlet Type: &lt;B&gt;{!GroupOutletName} &lt;/B&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Outlet Type: &lt;B&gt;{!OutletTypeName} &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_Type_Screen</name>
        <label>Outlet Type Screen</label>
        <locationX>523</locationX>
        <locationY>1121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Outlet_Choice_Decision</targetReference>
        </connector>
        <fields>
            <name>Outlet_Type_Label</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Por favor, selecionar o tipo de outlet para {!GroupOutletName} &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outlet_Type_Picklist</name>
            <choiceReferences>Outlet_Type_Choices</choiceReferences>
            <choiceReferences>PicklistNone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PicklistNone</defaultSelectedChoiceReference>
            <fieldText>Tipo de Outlet</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question1</name>
        <label>Food Unique?</label>
        <locationX>373</locationX>
        <locationY>7</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question1_Decision</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;O período de refeição é o único momento gerador de receita?&lt;FONT STYLE=&quot;font-size:13px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice1</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question2</name>
        <label>Spirits percentage income</label>
        <locationX>477</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question2_Decision</targetReference>
        </connector>
        <fields>
            <name>Question2</name>
            <fieldText>Qual a percentagem de facturação de espirituosos depois das 23h00?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice2</name>
            <choiceReferences>GreaterThan85_Choice</choiceReferences>
            <choiceReferences>LessThan85_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>GreaterThan85_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question3</name>
        <label>Open after 4 am?</label>
        <locationX>618</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Queston3_Decision</targetReference>
        </connector>
        <fields>
            <name>Question3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;O Ponto de Venda tem DJ, Pista de Dança e está aberto depois das 4am?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice3</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question4</name>
        <label>Loud atmosphere?</label>
        <locationX>532</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question4_Decision</targetReference>
        </connector>
        <fields>
            <name>Question4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Quando o ponto de venda está “cheio” o ambiente é ruidoso?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice4</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Screen_Question1</startElementReference>
    <status>Draft</status>
    <variables>
        <description>Account ID - Visualforce page parameter</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Argument: Affiliate Name</description>
        <name>AffiliateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Group Outlet Type Name</description>
        <name>GroupOutletName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Selected Outlet Type</description>
        <name>OutletTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Pros Segmentation ID - Visualforce page parameter</description>
        <name>ProsSegmentationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
