flows/PR_Group_Outlet_Type_Selection_PRT.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Blank_Outlet_Type</name>
        <label>Assign Blank Outlet Type</label>
        <locationX>563</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>OutletTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HighEnergyBar_Group_Outlet_Assignment</name>
        <label>High Energy Bar - Group Outley Type Assignment</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a9bL00000004CLd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High_Energy_Bar_Group_Outley_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LowEnergyBar_Group_Outlet_Assignment</name>
        <label>Low Energy Bar - Group Outlet Type Assignment</label>
        <locationX>432</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a9bL00000004CLi</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Low_Energy_Bar_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NightClub_Group_Outlet_Assignment</name>
        <label>Night Club - Group Outlet Type Assignment</label>
        <locationX>671</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a9bL00000004CLn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Night Club</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Night_Club_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restaurant_Group_Outlet_Assignment</name>
        <label>Restaurant - Group Outlet Type Assignment</label>
        <locationX>71</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restaurant_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>GreaterThan85_Choice</name>
        <choiceText>Maior que 85%</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>LessThan85_Choice</name>
        <choiceText>Menor que 85%</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Choice</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PicklistNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Outlet_Choice_Decision</name>
        <label>Outlet Choice Decision</label>
        <locationX>314</locationX>
        <locationY>1107</locationY>
        <defaultConnectorLabel>No_default</defaultConnectorLabel>
        <rules>
            <name>Outlet_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutletTypeChoices</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Outlet_Type</targetReference>
            </connector>
            <label>Outlet Update</label>
        </rules>
        <rules>
            <name>Outlet_No_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutletTypeChoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blank_Outlet_Type</targetReference>
            </connector>
            <label>Outlet No Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question1_Decision</name>
        <label>Question1 Decision</label>
        <locationX>196</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Question1_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question1_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question2_Decision</name>
        <label>Question 2 Decision</label>
        <locationX>494</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question2_GreaterThan85_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question3</targetReference>
            </connector>
            <label>Greater Than 85% Outcome</label>
        </rules>
        <rules>
            <name>Question2_LessThan85_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Less Than 85% Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question4_Decision</name>
        <label>Question 4 Decision</label>
        <locationX>338</locationX>
        <locationY>639</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question4_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question4_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LowEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queston3_Decision</name>
        <label>Queston 3 Decision</label>
        <locationX>669</locationX>
        <locationY>538</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question3_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question4</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Question3_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NightClub_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>For portugal country</description>
    <dynamicChoiceSets>
        <name>Outlet_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>EUR_CRM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Affiliate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliateName</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>EUR_CRM_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OutletTypeChoices</name>
        <dataType>String</dataType>
        <displayField>EUR_CRM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProSegCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>OutleTypeNameText</assignToReference>
            <field>EUR_CRM_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutletTypeName</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>PR Group Outlet Type Selection PRT</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>High_Energy_Bar_Group_Outley_Type</name>
        <label>High Energy Bar - Group Outley Type</label>
        <locationX>238</locationX>
        <locationY>860</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRT</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Low_Energy_Bar_Group_Outlet_Type</name>
        <label>Low Energy Bar - Group Outlet Type</label>
        <locationX>428</locationX>
        <locationY>872</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRT</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Night_Club_Group_Outlet_Type</name>
        <label>Night Club - Group Outlet Type</label>
        <locationX>603</locationX>
        <locationY>870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRT</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Night</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProSegmentationLookup</name>
        <label>ProSegmentationLookup</label>
        <locationX>37</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Question1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Pros_Segmentation__c</object>
        <outputAssignments>
            <assignToReference>ProSegCountryCode</assignToReference>
            <field>EUR_CRM_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Restaurant_Group_Outlet_Type</name>
        <label>Restaurant - Group Outlet Type</label>
        <locationX>80</locationX>
        <locationY>869</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRT</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outlet_Type</name>
        <label>Update Outlet Type</label>
        <locationX>315</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR_CRM_Outlet_Type__c</field>
            <value>
                <elementReference>OutletTypeName</elementReference>
            </value>
        </inputAssignments>
        <object>EUR_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>314</locationX>
        <locationY>1376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishStatement</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Feito com Categoria de Outlet e Tipo de Outlet seleção.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GroupOutletResult</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Atribuiu o seguinte:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Categoria de Outlet: &lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GroupOutletNameText}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Tipo de Outlet: &lt;B&gt;{!OutleTypeNameText}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_Type_Screen</name>
        <label>Outlet Type Screen</label>
        <locationX>313</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Outlet_Choice_Decision</targetReference>
        </connector>
        <fields>
            <name>Outlet_Type_Label</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Por favor, selecionar o tipo de outlet para &lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;B&gt;{!GroupOutletNameText}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outlet_Type_2</name>
            <choiceReferences>OutletTypeChoices</choiceReferences>
            <choiceReferences>PicklistNone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PicklistNone</defaultSelectedChoiceReference>
            <fieldText>Tipo de Outlet</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question1</name>
        <label>Source of Business</label>
        <locationX>198</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question1_Decision</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;O período de refeição é o único momento gerador de receita?&lt;FONT STYLE=&quot;font-size:13px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice1</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question2</name>
        <label>Spirits percentage income</label>
        <locationX>495</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question2_Decision</targetReference>
        </connector>
        <fields>
            <name>Question2</name>
            <fieldText>Qual a percentagem de facturação de espirituosos depois das 23h00?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice2</name>
            <choiceReferences>GreaterThan85_Choice</choiceReferences>
            <choiceReferences>LessThan85_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question3</name>
        <label>Opening Hours?</label>
        <locationX>669</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Queston3_Decision</targetReference>
        </connector>
        <fields>
            <name>Question3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;O Ponto de Venda tem DJ, Pista de Dança e está aberto depois das 4am?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice3</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question4</name>
        <label>Loud Music?</label>
        <locationX>483</locationX>
        <locationY>537</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question4_Decision</targetReference>
        </connector>
        <fields>
            <name>Question4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Quando o ponto de venda está “cheio” o ambiente é ruidoso?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice4</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProSegmentationLookup</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account ID - Visualforce page parameter</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Argument: Affiliate Name</description>
        <name>AffiliateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Group Outlet Type Name</description>
        <name>GroupOutletName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupOutletNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected Outlet Type</description>
        <name>OutletTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutleTypeNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProSegCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pros Segmentation ID - Visualforce page parameter</description>
        <name>ProsSegmentationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
