flows/PR_Group_Outlet_Type_Selection_RU.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>HighEnergyBar_Group_Outlet_Assignment</name>
        <label>High Energy Bar - Group Outley Type Assignment</label>
        <locationX>172</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LowEnergyBar_Group_Outlet_Assignment</name>
        <label>Low Energy Bar - Group Outlet Type Assignment</label>
        <locationX>335</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nightclub_Group_Outlet_Assignment</name>
        <label>Nightclub - Group Outlet Type Assignment</label>
        <locationX>501</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nightclub</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restaurant_Group_Outlet_Assignment</name>
        <label>Restaurant - Group Outlet Type Assignment</label>
        <locationX>15</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PicklistNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Group_Outlet_Type_Found</name>
        <label>Is Group Outlet Type Found</label>
        <locationX>219</locationX>
        <locationY>958</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupOutletID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Outlet_Type_Retry</targetReference>
            </connector>
            <label>not found</label>
        </rules>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupOutletID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outlet_Type_Screen</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question1_Decision</name>
        <label>Question1 Decision</label>
        <locationX>325</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Question1_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question1_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question3_Decision</name>
        <label>Question 3 Decision</label>
        <locationX>264</locationX>
        <locationY>633</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question3_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question3_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LowEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queston2_Decision</name>
        <label>Queston 2 Decision</label>
        <locationX>429</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question2_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question3</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Question2_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nightclub_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Final version with regions</description>
    <dynamicChoiceSets>
        <name>Outlet_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>EUR_CRM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>OutletTypeName</assignToReference>
            <field>EUR_CRM_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutletTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>EUR_CRM_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PR_Group_Outlet_Type_Selection_RU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PR_Group_Outlet_Type_Selection_RU</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>EU_Account_Lookup</name>
        <label>EU Account Lookup</label>
        <locationX>168</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Region_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Account__c</object>
        <outputAssignments>
            <assignToReference>RegionExternalID</assignToReference>
            <field>EUR_CRM_Region_External_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Group_Outlet_Type</name>
        <label>Group Outlet Type</label>
        <locationX>220</locationX>
        <locationY>858</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Group_Outlet_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RU</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegionID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Group_Outlet_Type_Retry</name>
        <label>Group Outlet Type Retry</label>
        <locationX>404</locationX>
        <locationY>1033</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RU</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProSegmentationLookup</name>
        <label>ProSegmentationLookup</label>
        <locationX>32</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EU_Account_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Pros_Segmentation__c</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>EUR_CRM_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProSegCountryCode</assignToReference>
            <field>EUR_CRM_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Region_Lookup</name>
        <label>Region Lookup</label>
        <locationX>171</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Question1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegionExternalID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Region__c</object>
        <outputAssignments>
            <assignToReference>RegionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outlet_Type</name>
        <label>Update Outlet Type</label>
        <locationX>217</locationX>
        <locationY>1233</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <value>
                <elementReference>GroupOutletID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR_CRM_Outlet_Type__c</field>
            <value>
                <elementReference>OutletTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>EUR_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>218</locationX>
        <locationY>1341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishStatement</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Done with group outlet and outlet type selection.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GroupOutletResult</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have assigned the following:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Group Outlet Type: &lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GroupOutletName}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Outlet Type: &lt;B&gt;{!OutletTypeName} &lt;/B&gt;-&lt;B&gt; &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_Type_Screen</name>
        <label>Outlet Type Screen</label>
        <locationX>217</locationX>
        <locationY>1128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Outlet_Type</targetReference>
        </connector>
        <fields>
            <name>Outlet_Type_Label</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select outlet type for {!GroupOutletName} &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!AffiliateName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outlet_Type_2</name>
            <choiceReferences>Outlet_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outlet Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question1</name>
        <label>Source of Business</label>
        <locationX>173</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question1_Decision</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is food the main source of business?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice1</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question2</name>
        <label>Presence of Dance Floor and Music</label>
        <locationX>429</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Queston2_Decision</targetReference>
        </connector>
        <fields>
            <name>Question2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Presence of DJ is essential + Dance floor &amp;gt; seating area ?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice2</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question3</name>
        <label>Loud Music?</label>
        <locationX>263</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question3_Decision</targetReference>
        </connector>
        <fields>
            <name>Question3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Level of music disturb conversation ?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice3</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProSegmentationLookup</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account ID - Visualforce page parameter</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Argument: Affiliate Name</description>
        <name>AffiliateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AvailableOutlets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EUR_CRM_Outlet_Type__c</objectType>
    </variables>
    <variables>
        <description>Group Outlet Type ID</description>
        <name>GroupOutletID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupOutletName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>On_Outlet_Page</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Outlet Type ID</description>
        <name>OutletTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OutletTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutletTypeObjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EUR_CRM_Outlet_Type__c</objectType>
    </variables>
    <variables>
        <name>OutletVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EUR_CRM_Outlet_Type__c</objectType>
    </variables>
    <variables>
        <name>ProSegCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pros Segmentation ID - Visualforce page parameter</description>
        <name>ProsSegmentationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>the external id of the region in the account card</description>
        <name>RegionExternalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>the eu account&apos;s region</description>
        <name>RegionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
