flows/PR_Group_Outlet_Type_Selection_NG_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Blank_Outlet_Type</name>
        <label>Assign Blank Outlet Type</label>
        <locationX>540</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>OutletType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HighEnergyBar_Group_Outlet_Assignment</name>
        <label>High Energy Bar - Group Outley Type Assignment</label>
        <locationX>222</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a9bL00000004CLd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High_Energy_Bar_Group_Outley_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LowEnergyBar_Group_Outlet_Assignment</name>
        <label>Low Energy Bar - Group Outlet Type Assignment</label>
        <locationX>381</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a9bL00000004CLi</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Energy Bar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Low_Energy_Bar_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NightClub_Group_Outlet_Assignment</name>
        <label>Night Club - Group Outlet Type Assignment</label>
        <locationX>532</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a9bL00000004CLn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Night Club</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Night_Club_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_Outlet_Page_False</name>
        <label>On_Outlet_Page_False</label>
        <locationX>539</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>On_Outlet_Page</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outlet_Choice_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_Outlet_Page_True</name>
        <label>On_Outlet_Page_True</label>
        <locationX>535</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>On_Outlet_Page</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outlet_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restaurant_Group_Outlet_Assignment</name>
        <label>Restaurant - Group Outlet Type Assignment</label>
        <locationX>59</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>GroupOutletNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restaurant_Group_Outlet_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PicklistNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Outlet_Choice_Decision</name>
        <label>Outlet Choice Decision</label>
        <locationX>292</locationX>
        <locationY>1067</locationY>
        <defaultConnectorLabel>No_default</defaultConnectorLabel>
        <rules>
            <name>Outlet_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutletTypeChoices</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Outlet_Type</targetReference>
            </connector>
            <label>Outlet Update</label>
        </rules>
        <rules>
            <name>Outlet_No_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutletTypeChoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PicklistNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blank_Outlet_Type</targetReference>
            </connector>
            <label>Outlet No Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question1_Decision</name>
        <label>Question1 Decision</label>
        <locationX>375</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Question1_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restaurant_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question1_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question3_Decision</name>
        <label>Question 3 Decision</label>
        <locationX>315</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question3_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Question3_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LowEnergyBar_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queston2_Decision</name>
        <label>Queston 2 Decision</label>
        <locationX>479</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>No_Default</defaultConnectorLabel>
        <rules>
            <name>Question2_No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Question3</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Question2_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswerChoice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NightClub_Group_Outlet_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Outlet_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>EUR_CRM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Affiliate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliateName</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>EUR_CRM_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OutletTypeChoices</name>
        <dataType>String</dataType>
        <displayField>EUR_CRM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProSegCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>OutletTypeDescription</assignToReference>
            <field>EUR_CRM_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutleTypeNameText</assignToReference>
            <field>EUR_CRM_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutletType</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PR Group Outlet Type Selection NG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PR Group Outlet Type Selection NG</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>High_Energy_Bar_Group_Outley_Type</name>
        <label>High Energy Bar - Group Outley Type</label>
        <locationX>221</locationX>
        <locationY>735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NG</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Low_Energy_Bar_Group_Outlet_Type</name>
        <label>Low Energy Bar - Group Outlet Type</label>
        <locationX>379</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NG</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Night_Club_Group_Outlet_Type</name>
        <label>Night Club - Group Outlet Type</label>
        <locationX>529</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NG</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Night</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Outlet_Lookup</name>
        <label>Outlet_Lookup</label>
        <locationX>296</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>On_Outlet_Page_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProSegCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Outlet_Type__c</object>
        <outputReference>AvailableOutlets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EUR_CRM_Name__c</queriedFields>
        <queriedFields>EUR_CRM_Description__c</queriedFields>
        <sortField>EUR_CRM_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>ProSegmentationLookup</name>
        <label>ProSegmentationLookup</label>
        <locationX>37</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Question1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <object>EUR_CRM_Pros_Segmentation__c</object>
        <outputAssignments>
            <assignToReference>ProSegCountryCode</assignToReference>
            <field>EUR_CRM_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Restaurant_Group_Outlet_Type</name>
        <label>Restaurant - Group Outlet Type</label>
        <locationX>58</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outlet_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EUR_CRM_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NG</stringValue>
            </value>
        </filters>
        <filters>
            <field>EUR_CRM_Group_Outlet_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </filters>
        <object>EUR_CRM_Group_Outlet_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupOutletName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outlet_Type</name>
        <label>Update Outlet Type</label>
        <locationX>293</locationX>
        <locationY>1185</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProsSegmentationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EUR_CRM_Group_Outlet_Type__c</field>
            <value>
                <elementReference>GroupOutletName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR_CRM_Outlet_Type__c</field>
            <value>
                <elementReference>OutletType</elementReference>
            </value>
        </inputAssignments>
        <object>EUR_CRM_Pros_Segmentation__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>287</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishStatement</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Done with group outlet and outlet type selection.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GroupOutletResult</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have assigned the following:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Group Outlet Type: &lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GroupOutletNameText}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Outlet Type: &lt;B&gt;{!OutleTypeNameText} &lt;/B&gt;-&lt;B&gt; &lt;/B&gt;{!OutletTypeDescription}&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_Type_Screen</name>
        <label>Outlet Type Screen</label>
        <locationX>288</locationX>
        <locationY>956</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>On_Outlet_Page_False</targetReference>
        </connector>
        <fields>
            <name>Outlet_Type_Label</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select outlet type for {!GroupOutletNameText} &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!AffiliateName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outlet_Type_2</name>
            <choiceReferences>OutletTypeChoices</choiceReferences>
            <choiceReferences>PicklistNone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PicklistNone</defaultSelectedChoiceReference>
            <fieldText>Outlet Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question1</name>
        <label>Source of Business</label>
        <locationX>205</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question1_Decision</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is food the main source of business?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice1</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question2</name>
        <label>Presence of DJ and Dance Floor</label>
        <locationX>479</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Queston2_Decision</targetReference>
        </connector>
        <fields>
            <name>Question2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Presence of DJ is essential + Dance floor &amp;gt; seating area?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice2</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Question3</name>
        <label>Loud Music?</label>
        <locationX>313</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question3_Decision</targetReference>
        </connector>
        <fields>
            <name>Question3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Level of music disturb conversation?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerChoice3</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProSegmentationLookup</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account ID - Visualforce page parameter</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Argument: Affiliate Name</description>
        <name>AffiliateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AvailableOutlets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EUR_CRM_Outlet_Type__c</objectType>
    </variables>
    <variables>
        <description>Group Outlet Type Name</description>
        <name>GroupOutletName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupOutletNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>On_Outlet_Page</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Selected Outlet Type</description>
        <name>OutletType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OutletTypeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutletTypeObjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EUR_CRM_Outlet_Type__c</objectType>
    </variables>
    <variables>
        <name>OutletVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EUR_CRM_Outlet_Type__c</objectType>
    </variables>
    <variables>
        <name>OutleTypeNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProSegCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pros Segmentation ID - Visualforce page parameter</description>
        <name>ProsSegmentationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
