flows/PRH_IconicAccounts_Delete_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>PRH_IconicAccounts_Delete_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRH_IconicAccounts_Delete_Flow</label>
    <loops>
        <name>LoopOnCollects</name>
        <label>LoopOnCollects</label>
        <locationX>815</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>Collect</assignNextValueToReference>
        <collectionReference>ListOfCollectsToDelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RetrieveLeCercleBrandsToDelete</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopOnIconics</name>
        <label>LoopOnIconics</label>
        <locationX>432</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>Iconic</assignNextValueToReference>
        <collectionReference>ListOfIconicsToDelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RetrieveCollectsToDelete</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteCollects</name>
        <label>DeleteCollects</label>
        <locationX>429</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>DeleteIconics</targetReference>
        </connector>
        <inputReference>ListOfCollectsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteCompetitorBrands</name>
        <label>DeleteCompetitorBrands</label>
        <locationX>554</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>DeleteCollects</targetReference>
        </connector>
        <inputReference>ListOfCompBrandsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteIconics</name>
        <label>DeleteIconics</label>
        <locationX>299</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>End_message</targetReference>
        </connector>
        <inputReference>ListOfIconicsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteLeCercleBrands</name>
        <label>DeleteLeCercleBrands</label>
        <locationX>693</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>DeleteCompetitorBrands</targetReference>
        </connector>
        <inputReference>ListOfLeCercleBrandsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>RetrieveCollectsToDelete</name>
        <label>RetrieveCollectsToDelete</label>
        <locationX>649</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collects_to_be_deleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PRH_Iconic_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iconic.Id</elementReference>
            </value>
        </filters>
        <object>PRH_Collect__c</object>
        <outputReference>ListOfCollectsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RetrieveCompBrandsToDelete</name>
        <label>RetrieveCompBrandsToDelete</label>
        <locationX>974</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Le_Cercle_Brands_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PRH_Collect__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Collect.Id</elementReference>
            </value>
        </filters>
        <object>PRH_Competitor_Brands__c</object>
        <outputReference>ListOfCompBrandsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RetrieveIconicsToDelete</name>
        <label>RetrieveIconicsToDelete</label>
        <locationX>294</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iconics_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PRH_Suppress_and_archive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PRH_Luxury_Accounts__c</object>
        <outputReference>ListOfIconicsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PRH_Account_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RetrieveLeCercleBrandsToDelete</name>
        <label>RetrieveLeCercleBrandsToDelete</label>
        <locationX>974</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RetrieveCompBrandsToDelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PRH_Collect__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Collect.Id</elementReference>
            </value>
        </filters>
        <object>PRH_Brand_Criteria__c</object>
        <outputReference>ListOfLeCercleBrandsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Collects_to_be_deleted</name>
        <label>Collects to be deleted</label>
        <locationX>730</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopOnCollects</targetReference>
        </connector>
        <fields>
            <name>text2</name>
            <fieldText>{!ListOfCollectsToDelete}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Competitor_Brands_to_delete</name>
        <label>Competitor Brands to delete</label>
        <locationX>841</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeleteLeCercleBrands</targetReference>
        </connector>
        <fields>
            <name>text4</name>
            <fieldText>List of Competitor Brands to be deleted:{!ListOfCompBrandsToDelete}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_message</name>
        <label>End message</label>
        <locationX>300</locationX>
        <locationY>512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndMsgText</name>
            <fieldText>Iconics and their collects have been deleted succesfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>returnToIconicsHomePage</name>
            <extensionName>c:PRH_NavigateToUrl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Iconics_to_delete</name>
        <label>Iconics to delete</label>
        <locationX>319</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopOnIconics</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>{!ListOfIconicsToDelete}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Le_Cercle_Brands_to_delete</name>
        <label>Le Cercle Brands to delete</label>
        <locationX>974</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Competitor_Brands_to_delete</targetReference>
        </connector>
        <fields>
            <name>text3</name>
            <fieldText>{!ListOfLeCercleBrandsToDelete}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_message</name>
        <label>Warning message</label>
        <locationX>160</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RetrieveIconicsToDelete</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>You are going to delete all Iconic Accounts that are tagged suppress. All the collects linked will be also deleted.
If you want to proceed, click on Next button otherwise close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Warning_message</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Collect</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PRH_Collect__c</objectType>
    </variables>
    <variables>
        <name>Iconic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PRH_Luxury_Accounts__c</objectType>
    </variables>
    <variables>
        <name>ListOfCollectsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PRH_Collect__c</objectType>
    </variables>
    <variables>
        <name>ListOfCompBrandsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PRH_Competitor_Brands__c</objectType>
    </variables>
    <variables>
        <name>ListOfIconicsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PRH_Luxury_Accounts__c</objectType>
    </variables>
    <variables>
        <name>ListOfLeCercleBrandsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PRH_Brand_Criteria__c</objectType>
    </variables>
</Flow>
